[2010-09-29 05:59] d1b opened #2 "this python project is vulnerable to MITM as it fails to verify the ssl validity of the remote destination"
this python project is vulnerable to MITM as it fails to verify the ssl validity of the remote destination.
urllib / urllib2, httplib.SHTTPConnection do not verify ssl at all by default.
from base.py
class ConnectionKey(object):
"""
A Base Connection class to derive from.
"""
conn_classes = (httplib.HTTPConnection, httplib.HTTPSConnection)

....
def connect(self, host=None, port=None):
.....
conne

[2010-11-16 08:27] rdegges opened #4 "Require Zope?"
Hi guys,

I'm trying to use libcloud on a standard ubuntu desktop 10.10 machine, in a virtualenv. If I install apache-libcloud from PyPI (eg: `pip install apache-libcloud`), then try to use it to do:

`get_driver(Provider.RACKSPACE)`, libcloud's base.py will error out with an ImportError (No module named zope).

Since it is impossible to install zope via PyPI (as far as I can tell), it's impossibl

[2010-11-16 21:20] rdegges commented on #4
Actually, I'd like to close this because after speaking with mirrorbox in the irc channel, it seems that this is no longer a problem with the latest version 0.4.x of libcloud, as it no longer uses zope.

[2010-11-16 21:20] #4 closed, assigned to nobody

[2011-01-04 23:36] jcsalterego commented on #2
This has been resolved with https://issues.apache.org/jira/browse/LIBCLOUD-65

More information is available at http://wiki.apache.org/incubator/LibcloudSSL

[2011-01-26 19:24] lukecyca opened #7 "Support HTTP proxies"
My corporate network requires HTTP/S connections to go through a squid proxy.

libcloud should respect the $https_proxy environment variable so that this can work seamlessly.

[2011-02-18 18:27] brandon-rhodes opened #8 "Patch to add ex_create_tags and ex_delete_tags to EC2 driver"
Here is a patch that adds the ability to manage tags for Amazon EC2 instances. This ability is important, among other things, because the tag called "Name" specifies the name shown in EC2 control panels, including the one provided by Amazon itself.

[2011-02-18 18:29] brandon-rhodes commented on #8
Well, drat, github does not support attachments to issues? Here is the code inline, then:

[code]

[2011-02-18 18:42] jcsalterego commented on #8
Thanks for your contribution. This has been submitted in r1072101.

[2011-02-18 21:42] brandon-rhodes commented on #8
And here are some tests!

[code]

[2011-02-20 20:29] Kami commented on #8
Committed in r1072716.

Thanks!

[2011-02-28 19:51] andytriboletti opened #9 "list_nodes for softlayer takes forever/doesn't complete"
Hi, I'm trying to do this:

drivers = [ Softlayer(sys.argv[1], sys.argv[2]) ]

print "drivers"
nodes = [ driver.list_nodes() for driver in drivers ]
print "nodes"

print nodes

It hangs for a long time then has this error:

Traceback (most recent call last):
  File "example.py", line 28, in <module>
    nodes = [ driver.list_nodes() for driver in drivers ]
  File "/usr/local/Cellar/python/2.7.1/li

[2019-06-08 07:47] #2 closed, assigned to nobody

[2019-06-08 07:47] Kami commented on #7
Closing. This has been resolved.

[2019-06-08 07:47] #7 closed, assigned to nobody

[2019-06-08 07:47] #8 closed, assigned to nobody

[2019-06-08 07:47] #9 closed, assigned to nobody

[2019-07-04 12:14] XN137 opened #1303 "GCE fails to find image for newer image families (i.e. ubuntu-1804-lts)"
i was trying to use `ex_create_multiple_nodes` with `ex_image_family="ubuntu-1804-lts"` on libcloud `2.4.0` which ended up in this error:
[code]
while the 1604 and 1404 counter parts were working.

after some investigation i found that https://github.com/apache/libcloud/blob/b2a0d5c5ac9238ddf1fa5a36a314e6f27ec5a1de/libcloud/compute/drivers/gce.py#L7187-L7191
is supposed to handle that case, but it

[2019-07-04 12:34] XN137 commented on #1303
see https://jira.apache.org/jira/browse/LIBCLOUD-961 and https://github.com/apache/libcloud/pull/1143 for similar update in the past

[2019-07-04 21:09] #1303 closed, assigned to nobody

[2019-07-11 10:37] micafer opened #1309 "Error in resize function in OpenStack driver"
When calling the "ex_resize" function of the OpenStack driver I get this error:
[code]

[2019-07-12 15:38] #1309 closed, assigned to nobody

[2019-07-18 22:27] redha1419 opened #1317 "azure_arm: delete public IP address (ex_delete_public_ip)"
## Feature Request

This feature is just a function with in the azure_arm driver. Lib cloud users can now delete Azure ARM public ip address resources. the ex_delete_resource() method could not be used as  `RESOURCE_API_VERSION` is too old to support the publicIpAddress resource.

[2019-07-19 11:47] micafer opened #1319 "Error updating port in OpenStack driver"
## Summary

There is an error in the ex_update_port function.
It returns 500 error.

## Detailed Information

There is an error in the request as the data parameter is not set.

[2019-07-21 10:23] x-wf opened #1321 "SignatureDoesNotMatch for manual request"
## Summary
While attempting to perform a manual request, it appears to be an issue with the credentials being used.

## Detailed Information

Upon attempting to create EC2 Launch Template, by performing a manual request with the EC2 driver, it's returning `libcloud.common.types.InvalidCredsError: 'SignatureDoesNotMatch`

More specifically I have a function which I attempt to create a simple Launch

[2019-07-21 14:50] Kami commented on #1321
Which signature algorithm you are using? I believe we default to v2.

I imagine it's something related to the nested dictionary you are trying to use - in EC2 driver we send data via query parameters and not as part of a request body.

This means you should use ``parent key.child key``` notation for your query param keys. So something like "params = {"LaunchTemplateData.ImageId: "...."}``. You can

[2019-07-22 13:46] #1317 closed, assigned to nobody

[2019-07-23 10:27] charlesyc opened #1322 "list_container_objects doesn't work for Azure blob storage under python 2.7.5"
## Summary

`list_container_objects` doesn't work for Azure blob storage under python 2.7.5

## Detailed Information

###libcloud version:
2.5.0/2.4.0

###Python version:
2.7.5

###Operating System:
RHEL 7.3

###Steps which are needed to reproduce it:
Using the following code to list objects in Azure blob container:
[code]

It will throw the following exception at line `objs = driver.list_containe

[2019-07-23 12:39] c-w commented on #1322
Thanks for reporting this and for all the details. As a final piece of information, could you please also provide the subtype/"kind" of the Azure Storage account? You can find this on the storage account's properties page:

![Screenshot showing Azure Storage account subtype](https://user-images.githubusercontent.com/1086421/61712784-1b01aa80-ad25-11e9-9b32-092d8dc9b8c4.png)

[2019-07-24 01:51] charlesyc commented on #1322
Hi @c-w ,

Thanks for your attention. The "Kind" of my Azure Storage account is "StorageV2 (general purpose v2)
" which is the same one as in your screenshot.
Here is my screenshot:
![image](https://user-images.githubusercontent.com/7031458/61758725-80729b80-adf8-11e9-9090-e8598056b07b.png)

Regards,
Charles

[2019-07-24 06:34] charlesyc commented on #1322
I finally figured out the root cause is the existing dependency packages of apache-libcloud. Here is what is installed by default of RHEL 7.x:
[code]

The dependency package `requests` in pre-installed on RHEL 7.x. But somehow it doesn't work correctly by apache-libcloud.
I used PYTHONPATH to specify the following dependencies manually and it works again:
[code]
This should be a valid workaround f

[2019-07-25 13:53] c-w commented on #1322
One way to solve this would be to vendor the requests library into libcloud so that we know that there's always a specific version of requests available.

Since we just discovered that libcloud relies on `requests>2.6.0`, another way to at least surface this problem at install time as opposed to run time would be to specify a minimum version of requests that the library requires.

[2019-07-25 15:59] Kami commented on #1322
I'm not a huge fan of vendoring approach (it could also potentially have licensing implications), but if we identified that it's an issue with the request library version, I'm fine with specifying a minimum version in ``setup.py``.

[2019-07-25 16:00] Kami commented on #1322
Also, how did you install the library? Did you use pip or a RPM package?

[2019-07-26 02:07] charlesyc commented on #1322
The `requests 2.6.0` is pre-installed in RHEL 7.3 OS (probably by RPM). Later I used pip to install libcloud (and all its dependencies) in RHEL 7.3 docker environment (which doesn't have `requests` installed by default). This is how I figured out it is a dependency issue.

[2019-07-26 03:35] c-w commented on #1322
This is strange. I just pushed a [change](https://github.com/c-w/libcloud-tests/commit/99530c899fd5ae44c7d0c85566eed9e9cffc3f20) to [libcloud-tests](https://github.com/c-w/libcloud-tests) to run the Azure storage integration tests with a specific version of requests and ran the [CI with requests==2.6.0](https://clewolff.visualstudio.com/libcloud-tests/_build/results?buildId=289) but I can't reprod

[2019-07-26 13:07] c-w commented on #1322
I did see some failures on [CI using requests<=2.4.0](https://clewolff.visualstudio.com/libcloud-tests/_build/results?buildId=299).

[2019-07-26 13:13] Kami commented on #1321
@x-wf^ did you have a chance yet to test it out?

[2019-07-26 13:16] x-wf commented on #1321
Hi @Kami ,

Thank you for getting back at me.
The solution was to exactly as you stated `"params = {"LaunchTemplateData.ImageId: "...."}"`. But errors like these could somehow be a bit more clear.

Once again, thank you.

[2019-07-26 16:15] charlesyc commented on #1322
Hi @c-w :

I think you can reproduce the error by following steps:
1. Pull and run RHEL UBI image (which is RHEL 7.6):
[code]
2. Install `python-requests` rpm package inside the container:
[code]
3. Install pip and libcloud:
[code]
4. Run the python code in my original post.

Since I am at home, I cannot access to my Azure credentials. Please let me know your result, thanks!

[2019-07-26 20:42] c-w commented on #1322
Thanks for providing the repro steps. I'm able to reproduce this now. There must be something wrong with the distribution of requests in the yum package:

This doesn't work:

[code]

But this does work:

[code]

[2019-07-26 21:10] c-w commented on #1322
I diffed the version of requests that's in yum versus pip like so:

[code]

Turns out the diff is quite large ([requests-yum-vs-pip.patch](https://github.com/apache/libcloud/files/3437391/requests-yum-vs-pip.patch.txt)):

[code]

I spot checked the diff and the changes in `certs.py` and `compat.py` look fairly innocuous so the difference must be in the version of urllib3 and chardet that are insta

[2019-07-26 21:22] c-w commented on #1322
Running this on each of the docker containers:

[code]

Shows:

| dependency | yum install python-requests | pip install requests==2.6.0 |
| --- | --- | --- |
| chardet |  2.2.1 |  2.3.0 |
| urllib3 | 1.10.2 | 1.10.2 |

Running `pip install chardet==2.3.0` explicitly seems to fix the issue.

[2019-07-26 21:31] c-w commented on #1322
The real question now is what do we do with this newfound insight... The root cause of this fix is the `python-pip` yum package which should be re-published with `chardet==2.3.0` to match the package on PyPI. Do we want to put an additional assertion in place in libcloud to guard against this situation?

[2019-07-27 01:35] redha1419 opened #1327 "azure_arm.py: create_node: cannot create windows VM"
## Summary

Using the azure_arm provider, I cannot create a windows VM. in the create_node function it has been hardcoded to only support linux VMs (I have commented `#HERE`  in the code below).

## Detailed Information

I was able to check the name of the image and see if it is a windows Image (all windows images have image.offer == "WindowsServer") and then set the correct osType with in `create

[2019-07-30 17:10] Kami commented on #1321
I agree, we should throw in such scenario.

I will look into a code change for that.

[2019-07-30 17:11] #1321 closed, assigned to nobody

[2019-07-31 20:43] Kami commented on #1321
#1329 should improve on this behavior.

[2019-08-01 10:34] micafer opened #1330 "Add function to remove a security group from a node in OpenStack driver"
## Add function to remove a security group from a node in OpenStack driver

Add function to remove a security group from a node. See the API info from:

https://docs.openstack.org/api-ref/compute/?expanded=remove-security-group-from-a-server-removesecuritygroup-action-detail#remove-security-group-from-a-server-removesecuritygroup-action

[2019-08-01 17:38] #1319 closed, assigned to nobody

[2019-08-03 01:58] QROkes opened #1333 "Performance Issues"
## Summary
I have some months using Libcloud v2.3.0, now when I tried to update to v2.5.0 with the same application files I'm getting a lot of errors.

## Detailed Information
Using the same server and applications **with v2.5.0 scripts stop responding and freezing very often** (like 10%) and randomly (can't reproduce it), it never happens with v2.3.0. I'm just using some simple scripts for Digita

[2019-08-05 08:46] r2ronoha opened #1334 "Softlayer Servers always created with Hourly Billing (regardless of ex_hourly value)"
## Summary

Softlayer server are always created as Hourly Billing, regardless of what value (False / True) is passed on the ex_hourly parameter to deploy_server or create_server

## Detailed Information

In the create_node method of the Softlayer driver, the ex_hourly parameter is converted to string ('true' / 'false') to forward it in the data to the createObject method of the Softlayer API.
None

[2019-08-06 08:19] micafer opened #1336 "Error with proxy_url in OpenStack auth"
## Summary

An error appears when using some OpenStack auth classes where this new ``proxy_url`` parameter has not been added.

Error introduced in commit: c20cf0180dbd30fb4010aba259746808576f9aa8 from PR ##1324.

## Detailed Information

I get the error when trying to use the OpenStackIdentity_3_0_Connection_OIDC_access_token class. But it will appear using any other auth classes where the ``prox

[2019-08-06 19:05] Kami commented on #1334
Just a reference, here is a link to the API doc which shows that the attribute value is indeed a boolean - https://sldn.softlayer.com/reference/services/SoftLayer_Virtual_Guest/createObjects/

[2019-08-06 19:11] Kami commented on #1334
And to clarify a thing - Libcloud driver actually still uses XML RPC API and not the JSON one.

Here is how the XML payload looked before your change / fix:

[code]

And here is how it looks after:

[code]

[2019-08-06 19:32] #1336 closed, assigned to nobody

[2019-08-06 19:47] Kami commented on #1334
Resolved via #1335.

[2019-08-07 08:22] #1330 closed, assigned to nobody

[2019-08-07 09:05] Kami commented on #1330
Resolved via #1331.

[2019-08-07 11:03] nocko opened #1338 "Backblaze B2: AUTH_API_HOST not picking up the default"
Running the demo code in the docs:

[code]

Produces the error:

[code]
If the host is supplied to the constructor, then it works as intended:
[code]

I can replicate this on Python 2 and Python 3. I am using libcloud via django-storages, so there isn't a way for me to pass the hostname via the constructor.

Looking at the backblaze provider the default host is provided and correct, but somehow no

[2019-08-07 17:06] Kami commented on #1338
Thanks for reporting this.

I was able to reproduce this issue. I believe it's a regression which was introduced when we moved to the ``requests`` library.

I think I know how to fix it, I will look into it.

~~On a related note - it looks like that our current Backblaze B2 driver only support master key auth ant not application key auth. I will add this info to the documentation.~~

[2019-08-09 13:42] #1338 closed, assigned to nobody

[2019-08-09 13:42] Kami commented on #1338
#1339 which should fix this issue has been merged.

Thanks again for reporting this issue.

[2019-08-19 07:32] yairshemla opened #1342 "Add missing "cpuPlatform" field to GCE driver"
Add "cpuPlatform" and "minCpuPlatform" to GCE driver.
This field is already being fetched by libcloud, but gets discarded during the `_to_node` method.

on file `compute/drivers/gce.py`, line 8852 add:
`extra['cpuPlatform'] = node.get('cpuPlatform')`
`extra['minCpuPlatform'] = node.get('minCpuPlatform')`

[2019-08-19 19:25] Kami commented on #1342
@yairshemla Please feel free to open a pull request with this change - we are happy to merge it.

[2019-08-19 19:26] #1334 closed, assigned to nobody

[2019-08-20 07:36] yairshemla commented on #1342
@Kami Hi, sure. here's the PR:
https://github.com/apache/libcloud/pull/1343

[2019-08-23 16:46] #1322 closed, assigned to nobody

[2019-08-26 19:36] kartiksubbarao opened #1346 "GCE ex_list_instancegroups('all') raises KeyError 'zone'"
## Summary

The GCE ex_list_instancegroups('all') call raises KeyError 'zone'.

## Detailed Information

Libcloud 2.5.0
Python 3.5
Ubuntu 16.04.6 LTS

The error is caused by line 9092 of gce.py in the `_to_instancegroup()` function:
[code]
The code is expecting the instancegroup dict to have a `zone` attribute, but that's not always the case. The underlying GCE API endpoint `/aggregated/instanceGr

[2019-08-28 19:28] Kami commented on #1342
Resolved via #1343.

[2019-08-28 19:28] #1342 closed, assigned to nobody

[2019-08-29 11:14] sebbASF opened #1348 "Download page must use HTTPS for sigs and hashes"
The download page must use HTTPS for sigs (.asc) and hashes (.sha512/.sha256).

[2019-08-29 20:09] Kami commented on #1348
Fixed, thanks for reporting this.

Not sure how we missed that.

[2019-08-29 20:09] #1348 closed, assigned to nobody

[2019-10-02 19:17] KYDronePilot opened #1352 "VCloud driver - why AdminPassword is removed from GuestCustomizationSection"
## Summary

There are 2 places in the VCloud driver code that remove the AdminPassword parameter from the GuestCustomizationSection of an API request due to an "API quirk", which I cannot find the origin of.

## Detailed Information

Version of libcloud: forked from commit a3334dc9, version 2.6.1-dev
Python version: 3.7.4
OS: Windows 10 1903

The error response I am getting from VCloud:
[code]

Mo

[2019-10-02 19:30] KYDronePilot commented on #1352
I should also mention that the issue does not persist when commenting out the blocks of code that remove the AdminPassword parameter:

[code]

[code]

[2019-10-04 11:44] pquentin commented on #1333
Did you try bisecting to find the commit that breaks?

[2019-10-08 23:47] g-awmalik opened #1355 "Unable to create a driver for GCE"
## Summary

While running gce_demo.py, I always get the this exception:

File "/Users/awmalik/Library/Python/2.7/lib/python/site-packages/libcloud/common/google.py", line 483, in __init__
    raise GoogleAuthError('cryptography library required for '
libcloud.common.google.GoogleAuthError: 'cryptography library required for Service Account Authentication.'

## Detailed Information

Here's the full

[2019-10-09 19:30] g-awmalik commented on #1355
Resolved it by installing the following package:

pip install --user cryptography

[2019-10-09 19:30] #1355 closed, assigned to nobody

[2019-10-09 19:34] zimventures opened #1356 "GCE node deletion times out - allow an async option"
## Feature Request
Currently the GCE `node_delete()` function uses the `async_request()` call (which ironically isn't actually async). Deleting a basic n1-standard-1 node running Centos in us-central times out every time. This isn't an uncommon occurrence. Searching the intertubes there are other references of other projects having the same issue:

https://github.com/kubevirt/cloud-image-builder/i

[2019-10-12 19:31] Kami commented on #1356
I think that's a reasonable approach although it would be good to have a consistent API for all the operations which are async (aka involve polling).

So ideally all of those methods would take ``sync=False`` / ``ex_sync=False`` argument.

[2019-10-28 15:44] niso120b opened #1359 "Error list Google GKE clusters - zones deprecated"
## Summary

Container GKE Provider failed to list and do actions on Google Cloud because of the **zones** its now deprecated and now you should use **locations**

## Detailed Information

  File "container.py", line 39, in <module>
    gce.list_clusters()
  File "container.py", line 33, in list_clusters
    clusters = self.gke.list_clusters(ex_zone=zone)
  File "/usr/local/lib/python2.7/site-packa

[2019-10-29 01:41] TheSushiChef opened #1360 "list_nodes on GCE Projects Only Returns 500 Results"
## Summary

When running list_nodes against a GCE environment that has greater than 500 instances, only the top 500 results will be returned.

## Detailed Information

Using libcloud 2.6.0, running list_nodes using the GCE Provider will only return the top 500 results. This is similar to issue #1203 where the list_nodes function is running self.connection.request rather than self.connection.reques

[2019-11-05 13:03] toabctl opened #1365 "openstack v3 authentication for unscoped token fails with: TypeError: 'NoneType' object is not iterable"
## Summary

I try to authenticate against an internal OpenStack cloud that is based on OpenStack Rocky.

## Detailed Information

My reproducer script is:
[code]

Running that with the latest libcloud version from pypi (currently 2.6.0) in a virtual env results in:
[code]

The reason is that an unscoped v3 auth request does not return a service catalog. See https://docs.openstack.org/api-ref/ident

[2019-11-06 15:25] maingoh opened #1366 "S3 get_driver using region name"
For some reason it seems there is one driver for each S3 region.
Thus we cannot dynamically get a s3 driver depending on the region string.

For example something like this:
[code]

Or maybe it would be better to have only one S3StorageDriver class where we can specify the region during construction.

[code]

Though it seems there is two region attribute which should match. `region_name` from `S3S

[2019-11-06 16:28] Kami commented on #1366
The best approach would probably be to support ``region`` argument in the driver constructor.

That's something we already do in other drivers and similar to what you suggested in option 2).

[2019-11-11 10:50] kshtsk commented on #1365
Probable fix is #1367

[2019-11-18 17:58] sebbASF opened #1368 "Download page: issues with KEYS links and gpg verify"
The download page verification guide
https://libcloud.apache.org/downloads.html#package-verification-guide
has two references to the KEYS file; these should be links to
https://www.apache.org/dist/libcloud/KEYS

[The initial mention of the KEYS file should ideally use just 'KEYS' as the link text, as that is how most other download pages present it]

==

Also the gpg verify commands should have a

[2019-11-18 19:06] Kami commented on #1368
Fixed in https://svn.apache.org/viewvc?view=revision&revision=1869993.

Thanks for reporting this.

[2019-11-18 19:06] #1368 closed, assigned to nobody

[2019-11-18 22:19] sebbASF commented on #1368
There is a second gpg command that needs adjusting under 'Example of a bad signature':

gpg --verify apache-libcloud-2.6.1.tar.bz2.asc

[2019-11-19 09:12] michaelsembwever opened #1369 "Support aws eu-north-1 region (Stockholm)"

[2019-11-20 16:38] Kami commented on #1366
@maingoh #1371 should resolve this issue.

It would be great if you can check / verify it if you get a chance.

[2019-11-20 16:38] Kami commented on #1369
Resolved via #1370 and #1371.

[2019-11-20 16:38] #1369 closed, assigned to nobody

[2019-11-22 14:29] maingoh commented on #1366
Great ! I will try :)

[2019-11-22 15:49] maingoh commented on #1366
It is working, just waiting for a new version :)

[2019-11-26 10:41] Kami commented on #1366
Thanks for confirming :)

[2019-11-26 10:41] #1366 closed, assigned to nobody

[2019-12-11 11:13] 570096 opened #1379 "S3 Drivers issue."
**## Summary**
Uploading a file into S3 . I am getting below error.

_ERROR:_
`**<LibcloudError in <class 'libcloud.storage.drivers.s3.S3StorageDriver'> 'This bucket is located in a different region. Please use the correct driver.'>**`

**## Detailed Information**
Version of libcloud:  2.6.1
Python version: 3.7
_**code:**_
[code]
In  the above code i mentioned correct driver then also am getting b

[2019-12-13 01:12] yukw777 opened #1381 "GCENodeDriver's deploy_node() should accept Deployments and other parameters that are accepted by create_node()"
## Feature Request

I was trying to use `Deployment` when launching nodes using GCE, but I noticed that the `deploy_node()` of `GCENodeDriver` has a different function signature from other drivers and does not accept `Deployment`. Furthermore, it doesn't accept other essential parameters you can pass in to `create_node()`, making it very limited in its usefulness. Is there a reason why this is so?

[2019-12-13 02:34] eamanu opened #1382 "RuntimeError: dictionary keys changed during iteration"
## Summary

During the packaging on Debian of libcloud a Runtime error happen [1]

[1] https://salsa.debian.org/python-team/modules/libcloud/-/jobs/452799

I think that I can send a patch  if you consider correct.

## Detailed Information

Debian unstable
libcloud 2.5.0

[2019-12-13 09:38] ThimoNeubauer opened #1383 "host parameter of S3StorageDriver does nothing in 2.7.0"
## Summary

We noticed that connecting to a local minio server failed after upgrading to libcloud 2.7.0

## Detailed Information

To use the S3 interface of a local server we need to set the host explicitly. In the 2.7.0 sources (see https://github.com/apache/libcloud/blob/trunk/libcloud/storage/drivers/s3.py) we have this:

[code]

Note that the `host = REGION_TO_HOST_MAP[region]` line overrides

[2019-12-13 16:27] #1383 closed, assigned to nobody

[2019-12-13 18:26] eamanu opened #1385 "ImportError: Missing "OpenSSL" dependency during test"
## Summary

If I run:

[code]

I have the next error:

[code]

There are any reason for not add pyopenssl to requriments-tests.txt?

[2019-12-18 21:03] dpeschman opened #1390 "Can no longer get driver by provider name string"
## Summary

Can no longer get driver by provider name string as of 2.7.0.

## Detailed Information

[code]

Works in 2.6.0:
[code]

Not sure if this is a bug, or if we've just been using it wrong.

[2019-12-18 21:27] Kami commented on #1390
Thanks for reporting this.

It's likely related to recent MyPy refactoring.

Getting driver class reference using a string and not a constant was never really an officially supported and documentation approach (iirc), but if it worked in older releases it should still probably be considered as a bug (at least for a couple of major releases)).

In the mean time, the recommend approach and a workaro

[2019-12-18 22:13] Kami commented on #1390
#1391 should fix it.

Thanks again for reporting this.

[2019-12-18 22:16] Kami commented on #1385
We use tox for running tests on various Python versions so it's recommended you use ``tox`` to run the tests.

On that note, yes we could probably also add ``pyopenssl`` to ``requirements-tests.txt`` although even better approach would probably be to get rid of pyopenssl and replace that functionality with ``cryptography`` library.

I don't think that should be too hard since only one or two drive

[2019-12-18 22:20] Kami commented on #1385
In the mean time, I will also push a change to add that dependency to ``requirements-tests.tx``.

Thanks for reporting this.

[2019-12-18 22:24] #1385 closed, assigned to nobody

[2019-12-19 08:26] arterrey opened #1392 "The wheel distribution of this package on pypi contains the requirement for enum34"
## Summary

The wheel distribution of this package on pypi contains the requirement for enum34

## Detailed Information

enum34 appears to be dynamical included as a requirement in setup.py depending if your Python version is pre 3.4.

[code]

The wheel package contains the requirement without any special qualifier. (I'm not even sure if it is possible to spec requirements in a wheel according to

[2019-12-19 08:39] arterrey commented on #1392
A breaking buildout example..

For the buildout.cfg:
[code]

[code]

[2019-12-19 18:10] dpeschman commented on #1390
The backstory on why we use strings is, we have a couple custom drivers for talking to in-house APIs, and those we have to load by string since they aren't in the enum.

[2019-12-19 18:48] #1390 closed, assigned to nobody

[2019-12-20 22:22] #1381 closed, assigned to nobody

[2019-12-21 16:50] Kami commented on #1392
@arterrey Thanks for reporting this.

I'm looking into a fix. I believe we will be able to utilize PEP 508 notation (https://www.python.org/dev/peps/pep-0508/#environment-markers).

[2019-12-21 17:29] Kami commented on #1382
Thanks for reporting this issue.

This has been fixed a while back (a01b074700ad0315009d98bfa36ac0969095377b) and was included in Libcloud v2.7.0 which was released on December 9, 2019.

I will close this issue. If it's still an issue with latest version of Libcloud, please re-open it.

[2019-12-21 17:29] #1382 closed, assigned to nobody

[2019-12-21 21:45] Kami commented on #1379
@570096 I suggest you to install the latest stable version of Libcloud (v2.7.0) and then pass ``region=<region name>`` argument to the driver constructor and make sure the region matches the region where the bucket is located.

In v2.7.0, that exception has also been improved so the error now also includes the name of the region where the bucket in question is located.

For example, if your driver

[2019-12-21 21:47] Kami commented on #1352
I assume that's not an issue anymore now that #1373 has been merged?

[2019-12-21 21:51] Kami commented on #1346
@kartiksubbarao Sorry for a late response.

Is this still an issue? I tried, but can't reproduce the issue with the latest version of Libcloud.

In any case, we could probably still do something like ``zone = self.ex_get_zone(instancegroup['zone']) if instancegroup.get('zone, None) else None``

I'm also wondering why ``zone`` attribute is not populated / present.

[2019-12-21 21:52] Kami commented on #1333
Is this still an issue with the latest version?

[2019-12-21 21:52] Kami commented on #1356
Closing since this has been implemented as part of #1357.

[2019-12-21 22:03] KYDronePilot commented on #1352
Yes, that’s correct.

[2019-12-21 22:03] #1352 closed, assigned to nobody

[2019-12-22 19:25] #1392 closed, assigned to Kami

[2019-12-24 16:34] kartiksubbarao commented on #1346
Thanks for the response @Kami . I don't have access to that GCE environment anymore so I can't test, but I compared the August libcloud code to the current code and it doesn't seem like there were any changes to `libcloud/compute/drivers/gce.py` that would have fixed this issue:

https://github.com/apache/libcloud/compare/5cbd788...4107267

Hopefully the example object I provided above might shed

[2019-12-24 18:38] #1356 closed, assigned to nobody

[2019-12-24 19:23] #1346 closed, assigned to nobody

[2019-12-24 19:23] Kami commented on #1346
Thanks for confirming.

I'm not exactly sure why that attribute is not present and when I that can happen, but I pushed a change in facae521db6ce8459ba55da6b1bed5546f6fe5f9 which I believe should solve that issue (?) and I saw similar pattern is already used for other attributes.

[2019-12-24 22:13] kartiksubbarao commented on #1346
@Kami I did some further searching and came across this:

https://cloud.google.com/compute/docs/instance-groups/distributing-instances-with-regional-instance-groups

It looks like GCE supports creating instance groups that are associated with **all** of the zones in a particular region. In this case, it's the region that's the geographic defining attribute, not an individual zone. That's why the z

[2020-01-02 16:09] rvolykh opened #1399 "Upload large file to Azure Blobs"
## Summary

Could not upload a large file (100 GB) to Azure Blob Storage.

## Detailed Information

Package libcloud: 2.7.0
File 100.gb was generated with:
[code]
Code snippet:
[code]
Error:
[code]

[2020-01-03 21:31] c-w commented on #1399
**TL;DR**
The maximum file size currently supported by the Azure Storage driver is 256 MB. Uploading larger file sizes will require a code change in libcloud.

**Details**
The Azure Storage driver's implementation of [upload_object_via_stream](https://github.com/apache/libcloud/blob/6dca82e649456b42d23f439854d3dc807c806abf/libcloud/storage/drivers/azure_blobs.py#L822-L841) delegates to [_put_objec

[2020-01-06 08:50] rvolykh commented on #1399
Hello @c-w,

Thanks a lot!

That approach with MinIO I had before and currently looking for more native approaches. It is for a long perspective so I could wait. + Can help with testing of #1400

[2020-01-06 12:01] jfharden opened #1401 "Uploading to s3 encrypted with a custom KMS key fails"
## Summary

When uploading files to s3 where the bucket has server side encryption with a custom KMS key the upload fails

## Detailed Information
Python 3.7
Libcloud: 2.8.0
OS: Amazon Linux 2

Libcloud is inspecting the etag expecting it to be the md5sum of the uploaded data object but this is not always the case (where using a custom KMS key, or doing a multi-part upload): https://docs.aws.amazo

[2020-01-08 09:16] rvolykh commented on #1399
Hello @c-w,
Tested 100 GB file upload/download to Azure Blob Storage from #1400. Works fine!!!!

[2020-01-08 15:15] rvolykh opened #1403 "AWS S3 Presigned URL and Azure Blob Storage Shared access signature"
## Feature Request

AWS S3 has the support of [Presigned Object URL](https://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html) and Azure Blob Storage has the support of [Shared access signature](https://docs.microsoft.com/en-us/rest/api/storageservices/delegate-access-with-shared-access-signature).

Both of those features allow anyone (with whom shared link was shared) to downl

[2020-01-09 14:37] #1399 closed, assigned to nobody

[2020-01-09 21:00] jmberg opened #1405 "object storage range download"
It would be nice if libcloud could support range requests to objects, this is e.g. supported by Amazon S3 and the boto3 library.

This helps when you store bigger files, but have some kind of index locally to be able to request only parts thereof, for example.

[2020-01-10 04:42] Kami commented on #1401
Thanks for reporting this issue.

It looks like we may need to add some logic to skip comparing of E-tag header if the value is not an MD5 hash.

[2020-01-10 04:56] Kami commented on #1401
I was able to reproduce this issue using ``upload_object``, but not ``upload_object_via_stream`` method.

This makes sense since the upload_object_via_stream utilizes multi part upload which returns ETag which doesn't contain MD5 digest.

For now the easiest workaround would be to simply pass ``verify_hash=False`` argument to the ``upload_object`` method.

[2020-01-10 05:30] #1379 closed, assigned to nobody

[2020-01-10 05:31] Kami commented on #1405
It looks like something which could be implemented via driver / provider specific extension methods.

[2020-01-10 05:45] Kami commented on #1401
#1406 should fix this.

I verified / tested the change locally, but it would be good if you can confirm it as well.

[2020-01-10 09:31] OriHoch opened #1407 "new driver: Kamatera"
Hi, I'm starting to develop a driver for [Kamatera](https://www.kamatera.com/)

Starting with the compute API.

Per the documentation: I'll use this issue as the umbrella place for all my changes and to ask questions.. (unless there is somewhere else I should do that)

[2020-01-10 09:34] OriHoch commented on #1407
Regarding `list_sizes` method of the compute API, currently [we](https://www.kamatera.com) allow for dynamic setting of machine size using arguments like cpu, ram, cpu type, disk size etc..

Is there any preference? I saw varying behaviors in other drivers:

* enumerate to predefined sizes
* not implement list_sizes method
* return a single size object and allow to set specific details in the crea

[2020-01-10 16:40] c-w commented on #1403
Great suggestion. I'll take a stab at implementing the Azure Blob Storage part of this.

[2020-01-14 04:22] #1401 closed, assigned to nobody

[2020-01-14 04:22] Kami commented on #1401
@jfharden Thanks again for reporting this.

#1406 which should fix this issue has been merged. Can you please confirm?

[2020-01-14 04:58] Kami commented on #1407
I think best approach would be to utilize option 1) in combination with allowing the user to specify a custom size by instantiating ``NodeImage`` class with custom values.

Here is an example of a driver which does that - https://libcloud.readthedocs.io/en/stable/compute/drivers/cloudsigma.html#create-a-server-using-a-custom-node-size

For custom attributes which are not supported by the ``NodeIma

[2020-01-14 05:30] Kami commented on #1360
@erjohnso Maybe you have an input on this issue?

``request_aggregated_items`` approach seems reasonable to me, I don't have any account with that many instances to test it, but I guess I could also decrease page size (``maxResults``) to test that change.

On a related note, I assume we also need to correctly handle pagination when user explicitly specifies a zone to use?

[2020-01-14 06:39] OriHoch commented on #1407
that's very helpful, thanks @Kami

[2020-01-17 09:52] micafer opened #1411 "Error getting node_id in OpenStack_1_1_FloatingIpAddress"
## Summary

Error getting node_id in OpenStack_1_1_FloatingIpAddress in case of region is not called "nova".

## Detailed Information

In the function OpenStack_2_FloatingIpPool._to_floating_ip the instance_id of the node where the IP is attached to is not correctly obtained if the name of the region is not the expected one "nova".

[2020-01-17 22:47] dpeschman opened #1413 "mypy issues as of 2.8.0"
## Summary
Just wanted to feed back to you all a couple issues we had running mypy on our custom drivers after upgrading to libcloud 2.8.0.

## Detailed Information
- The type of NodeDriver.type is Provider, but our custom drivers assign a string to this field which cause a mypy error.  Perhaps it should be Union[Provider, str]?
- NodeSize, NodeLocation, and NodeImage have driver typed to be Type[

[2020-01-17 22:54] dpeschman commented on #1413
Forgot one more - what do you think about adding **kwargs back to create_node?

[2020-01-20 06:37] Kami commented on #1413
@dpeschman Thanks for reporting this issue, we will have a look.

As far as adding ``**kwargs`` goes - I don't think it should be part of the standard API. The whole point behind the standard API is so you know up front which arguments are available and supported.

Drivers can still use it, but even there explicitly declaring supported arguments is preferred and there are usually very few valid ca

[2020-01-20 06:55] Kami commented on #1407
@OriHoch You are welcome.

Keep us posted :)

[2020-01-20 06:56] Kami commented on #1360
#1409 should fix this issue.

[2020-01-21 16:19] dpeschman commented on #1413
Our use case is that our custom drivers take additional/other parameters to create_node that aren't in the base API.  But I see your point about using explicit keyword args and will update our drivers to do that and continue to ignore the mypy/lint arg mismatch in this case.

[2020-01-21 18:07] #1413 closed, assigned to nobody

[2020-01-22 08:43] #1411 closed, assigned to nobody

[2020-01-24 08:40] #1360 closed, assigned to nobody

[2020-01-26 23:15] wabson opened #1417 "InvalidCredsError when uploading .xlsm file to Google Storage bucket"
## Summary

When running on Ubuntu it is not possible to upload an Excel macro-enabled file with the suffix `.xlsm` to a Google Storage bucket, the upload fails with an `InvalidCredsError` exception raised after calling `upload_object_via_stream()`

## Detailed Information

I first noticed this in a Django app running on Heroku, and have since reproduced the issue with libcloud only, on standalone

[2020-01-27 11:37] Kami commented on #1417
Thanks for reporting this.

I tried to reproduce it with the code you provided and it works fine for me using the latest trunk version.

It could indeed be something with mime type on your system though. On mine, it determines mime to be ``application/vnd.ms-excel.sheet.macroEnabled.12`` and it works fine.

What kind of mime type is returned on your environment? Checking the output of ``LIBCLOUD_D

[2020-01-27 11:46] Kami commented on #1417
EDIT: I was able to reproduce the issue using interoperability credentials + using ``application/vnd.ms-excel.sheet.macroEnabled.12`` Content-Type value.

If I use regular GCP service account credentials, it works fine.

I assume it's something related to how we calculate the signature when interoperability mode is used. It's likely that some special values (e.g. ``.`` are not correctly handled /

[2020-01-27 12:19] Kami commented on #1417
I tried to dig in and find the root cause, but I was unable to find one.

This issue only appears if all the following conditions are met:

1. Ineroperability authentication method is used
2. Object name ends with ``.xlsm`` (e.g. ``test1.xlsm``)
3. Content-Type header is ``application/vnd.ms-excel.sheet.macroEnabled.12``

If any of those three things are not met, it will work fine.

What makes it

[2020-01-27 12:28] Kami commented on #1417
EDIT: Never mind, you were correct - the issue is indeed related to using interoperability API and lower casing the content type value.

I verified it works correctly (both, with the interoperability API and the regular one) if the content-type value is left as is (and not lower cased). I will go ahead and open a PR with fix.

[2020-01-28 17:55] jmgnc opened #1419 "ec2 driver does not support strings for size and image parameters"
## Summary

Both the GCP and the Dummy drivers for compute allow passing the imaged id, and size id as a string, and both drivers will do a lookup to find them.

The EC2 driver requires that the image and size be objects that have the name as an id attribute.

## Detailed Information

The commit https://github.com/newcontext-oss/openc2-aws-actuator/commit/f67cbee488236604b65c72a8f5f695fddf9592e9 f

[2020-01-29 13:11] Kami commented on #1419
Thanks for reporting this.

This works as designed / intended. Base compute API declares those arguments to be of a type of NodeImage and NodeSize.

If any of the drivers supports string notation, that's because they don't comply with the base compute API.

In the past, we didn't have a good automated way to enforce compliance with the base API so some things like that have slipped through, but go

[2020-01-31 04:24] foospidy opened #1420 "Inconsistent uuid generation in azure_arm"
## Summary

Azure returns inconsistent casing of the resource groups name in the id string, resulting in different uuid's for the same node (depending on what calls you make).

## Detailed Information

When a node is created, the resource groups name in the id string is lower case. In subsequent calls, like in list_nodes(), for some reason Azure returns the resource groups name in upper case. This

[2020-02-04 21:14] #1417 closed, assigned to nobody

[2020-02-08 09:01] ngopi37 opened #1422 "Issue in Create Volume"
## Summary

I tried creating new volume using below
driver.create_volume(size=volume_size,name=volume_name,location=None,snapshot=None) and am getting below error
MissingParameter: The request must contain the parameter zone

When i debug it expecting availability
/usr/local/lib/python3.7/dist-packages/libcloud/compute/drivers/ec2.py in create_volume

## Detailed Information

Am using Libcloud 2.8

[2020-02-10 17:25] perbu opened #1424 "Documentation: Objectstore example is broken / libcloud does seek() on stream"
## Summary

I'm running the example on https://libcloud.readthedocs.io/en/stable/storage/examples.html that creates a tarfile and uploads it via stream to an objectstore.

I'm using GCS.
libcloud tries to do a seek() on the supplied iterator, this fails and the program stops.

## Detailed Information

apache-libcloud==2.8.0
Python 3.7.6
macos Catalina

The example in the doc is Python 2, I've rewr

[2020-02-12 07:16] lokeshpkumar opened #1425 "GKE Cannot get a list of clusters/containers/pods"
## Summary

Cannot get a list of GKE (Google Kubernetes Engine) clusters/containers or pods

## Detailed Information

As mentioned in the documentation, followed the get_driver API to get the container driver for the GKE provider. But got the below stacktrace.
[code]
Libcloud version: 2.8.0, 3.0.0-rc1
Python version: 2.7, 3.7
OS: Fedora 30

[2020-02-12 22:55] Kami commented on #1425
Thanks for reporting this.

I just fixed this in #1423 recently (that PR still needs some tests, etc. though).

[2020-02-13 07:06] lokeshpkumar commented on #1425
The library does not work even when I want to fetch the running containers:
Does the above PR fix the list_containers() issue as well, because in the new GKE API I have not seen any API call which will give us list of containers:
Please help me understand this.

[code]

[2020-02-16 21:26] Kami commented on #1424
Thanks for reporting this.

Is this issue Python 3 specific?

Having said that, one thing we could do is simply ignore "illegal seek" errors in that place, but I'm not sure that's the correct approach. It may mask real issues.

---

EDIT: It looks like we indeed don't have a better option (https://bugs.python.org/issue12877) since Python sadly doesn't throw a more specific / better exception in th

[2020-02-17 18:00] gh-jamesmontgomery opened #1428 "Cloudflare export to BIND zone format - missing priority attribute"
## Summary

I have used 2.8.x and the trunk version - in both versions, I cannot access the priority value for a record, or export the zone to bind format without a key error.

## Detailed Information

The following traceback is generated from `zone.export_to_bind_format()`:

  File "<stdin>", line 1, in <module>
  File "/dns-copy/venv/lib/python3.7/site-packages/libcloud/dns/base.py", line 78, in

[2020-02-17 20:49] Kami commented on #1428
Thanks for reporting this.

I was able to reproduce the issue and also confirmed the fix. I pushed a fix in #1429.

Next time, please feel free to open a PR (and ideally also with tests) yourself :)

[2020-02-17 21:36] #1428 closed, assigned to nobody

[2020-02-17 21:52] #1424 closed, assigned to nobody

[2020-02-19 11:21] Kami commented on #1420
Please feel free to open a PR with your change (and some tests would be good as well) :)

[2020-02-19 22:42] Kami commented on #1422
I assume that's the EC2 driver.

If so, you also need to specify ``location`` argument.

---

It appears we need to update our code to make ``location`` argument mandatory (it appears ``AvailabilityZone`` parameter is now mandatory).

[2020-02-19 22:51] Kami commented on #1422
I pushed a change which will help with the default behavior (62c9c855f4fb8b409307cdc2f8358dda8f36f58a), but I would still recommend you to explicitly specify ``location`` argument.

[2020-02-20 10:52] foospidy commented on #1420
Cool, PR here https://github.com/apache/libcloud/pull/1432

[2020-03-01 11:26] Kami commented on #1422
Resolved via 62c9c855f4fb8b409307cdc2f8358dda8f36f58a.

[2020-03-01 11:26] #1422 closed, assigned to nobody

[2020-03-01 11:27] Kami commented on #1425
Correct, GKE doesn't expose those operations through their API.

One option is to connect directly to the API service running on the GKE Kubernetes cluster using regular Kubernetes driver.

[2020-03-06 17:26] pmezard opened #1438 "GoogleStorageDriver does not handle service account HMAC credentials"
Hello,

GoogleStorageDriver may use S3-compatibility layer credentials to connect to GCS. There are at least two ways to generate such credentials:

- As User Account HMAC keys. This is inconvenient for services configuration because it ties access to the existence of a user account.
- As Service Account HMAC keys. These should be used for long running services.

Unfortunately, GoogleStorageDriver

[2020-03-07 06:04] pquentin commented on #1438
The key length was [set to 20 in 2015](https://github.com/apache/libcloud/commit/3849f65fe5289f7d7160b7537afa930c7e2ea8a8) and [bumped to 20-30 in 2018](https://github.com/apache/libcloud/commit/9b9aae720d34698b6284f8b6800fd8ae569ecb82). I agree that dropping the length check altogether would be nice.

cc @crunk1 @erjohnso @MonsieurV @vdloo

[2020-03-07 14:28] MonsieurV commented on #1438
Yep, I also agree on dropping the length.

It made sense when we had a unique length for the keys - to ensure we were getting the right key format. Now that Google keeps updating the key length, it won't be maintainable as it. Checking the key prefix should be enough.

Does you need a PR contribution for that?

[2020-03-07 20:33] Kami commented on #1438
@MonsieurV Yeah, a PR with that change (+ tests) would be great.

[2020-03-07 20:35] Kami commented on #1403
Resolved via #1408.

[2020-03-07 20:35] #1403 closed, assigned to nobody

[2020-03-07 20:48] Kami commented on #1438
@MonsieurV and if you get a chance to work it in the next couple of days, I'll also try to include in the upcoming v3.0.0 release.

[2020-03-10 11:03] MonsieurV commented on #1438
@Kami should be good :)

[2020-03-10 12:41] pquentin commented on #1438
This issue can now be closed. Thanks!

[2020-03-10 12:44] Kami commented on #1438
Resolved via #1440.

Thanks again to everyone involved :+1:

[2020-03-10 12:44] #1438 closed, assigned to nobody

[2020-03-18 14:20] kbknapp opened #1441 "GCE create_node() with location=None (default) throws AttributeError"
## Summary

Running with the GCE driver using `create_node(.. , location=None)` (which is a default) throws an `AttributeError`

## Detailed Information

OS: Ubuntu 19.10
libcloud Version: `apache-libcloud==2.8.1`
Python version: `Python 3.7.5`

Code to reproduce:

[code]

With exception:

[code]

[2020-03-18 19:22] Kami commented on #1441
Thanks for reporting this.

It's likely related to recent **kwargs refactoring. I will have a look.

[2020-03-18 20:31] Kami commented on #1441
I had a look and the issue is related to not passing ``datacenter`` argument to the driver constructor.

Location needs to be specified one way or another - either via constructor datacenter argument or via location argument to the create_node method.

[2020-03-18 20:41] Kami commented on #1441
Having said that - I will also open a PR so an exception is throw if neither of those is provided and clarify that in the docs.

Thanks again for reporting this.

[2020-03-19 10:59] OriHoch commented on #1407
opened a PR: #1442

[2020-03-19 10:59] #1407 closed, assigned to nobody

[2020-03-19 21:09] #1441 closed, assigned to nobody

[2020-03-31 00:15] jmgnc commented on #1419
The biggest issue I see with this is that GCP does not present all of the images as part of list_images  (current count is 80 images, and this clearly doesn't include images that are available in the marketplace and the like).  If drivers don't present these instances, and it isn't defined HOW to instantiate a NodeImage or NodeSize class, then saying you must use an instance isn't helpful.

Also,

[2020-04-16 12:11] sebbASF opened #1447 "URGENT: Broken link on download page"
The page
https://libcloud.apache.org/downloads.html

contains the link:

&lt;a href="https://www.apache.org/dist/libcloud/apache-libcloud-2.8.2.sha256">sha256</a&gt;

This does not work; it should be

&lt;a href="https://www.apache.org/dist/libcloud/apache-libcloud-2.8.2.zip.sha256">sha256</a&gt;

Please fix this urgently

[2020-04-18 19:41] Kami commented on #1447
This should now be fixed.

Thanks for reporting and sorry for the delay.

[2020-04-18 19:41] #1447 closed, assigned to nobody

[2020-04-22 08:07] toabctl commented on #1365
This was fixed via https://github.com/apache/libcloud/pull/1367

[2020-04-22 08:07] #1365 closed, assigned to nobody

[2020-04-30 13:25] mmilitzer opened #1452 "Tilde ('~') character is incorrectly URL-encoded with Python 2"
I'm referring to the older, unresolved issue here (it seems I cannot create a new issue nor comment on the older one over at issues.apache.org though I have a long-time user there...):

https://issues.apache.org/jira/browse/LIBCLOUD-979

I can confirm that the reported issue happens also for Amazon S3, not only for CEPH as originally reported. And the problem is indeed that libcloud URL-encodes th

[2020-05-01 21:57] puneetloya opened #1454 "Support custom s3 endpoint"
## Feature Request
Do you support or plan to support custom s3 endpoint? So that we can use providers like minio/ceph-s3

[2020-05-02 20:53] RobertH1993 opened #1455 "method list_sizes() on driver object does not accept location"
## Summary

method list_sizes() on driver object does not accept location parameter. The docs states that it should accept a location parameter: https://libcloud.readthedocs.io/en/stable/compute/api.html#libcloud.compute.base.NodeDriver.list_sizes

## Detailed Information

Tried to get all the sizes through the digitalOcean driver, filtering on a certain location. I pass a NodeLocation object (ret

[2020-05-02 21:15] RobertH1993 commented on #1455
Just made a pull_request, tested locally works fine :)
https://github.com/apache/libcloud/pull/1456

[2020-05-03 14:31] Kami commented on #1452
Thanks for reporting this and thanks for contribution.

The change looks reasonable for me, but I would feel safer if there were some tests.

In addition to that, I'm a bit worried that some providers are relying on clients incorrectly encoding ~...

[2020-05-03 19:22] #1455 closed, assigned to nobody

[2020-05-03 19:42] Kami commented on #1454
We already have a bunch of drivers which are based on the S3 API (Google Cloud Storage, Aurora Objects, DigitalOcean Spaces, etc.) so it probably shouldn't be too hard to add a new S3 based provider driver for ceph-s3.

[2020-05-03 19:49] Kami commented on #1452
I just tested ``urlqoute`` from Python 3.6 and it seems to handle it in the same manner as Python 2 - aka it encodes it as ``%7E``.

[code]

Having said that, to be on the safe side - I think we should only add that change to S3 driver to begin with.

Who knows how many (if any) provider APIs rely on ``~`` being url encoded as ``%7E`` so changing it could introduce regressions in many other driver

[2020-05-03 20:08] Kami commented on #1452
@mmilitzer #1457 should fix it.

Can you please confirm (I tested it myself, but more eyes and testing never hurt)?

---

For now I went with the S3 driver only approach.

In the future, when we feel more comfortable about that change, we can try modifying that behavior (aka when more people use Libcloud under Python 3.7 without reporting any urlquote related issues) inside our ``urlquote`` wrappe

[2020-05-05 08:18] mmilitzer commented on #1452
@Kami: I can confirm that your patch fixes the issue for S3.

My concern would be just that there'll still be inconsistent handling of '~' character now depending on Python version used though I understand your concerns. I'd just not rely on potential issues with other backends and the changed tilde handling in Python 3.7+ being quickly reported. After all, the very issue here has apparently been

[2020-05-08 02:46] avirshup opened #1458 "Proposal: Sharable upload links for S3 and Azure Blobs"
## Proposal -
This is a follow-up to @rvolykh's proposal in #1403 -

The **"read"** version of this functionality was implemented AWS S3 in #1453 and for Azure Blobs in #1408 via the `StorageDriver.get_object_cdn_url` method.

Here I'm proposing the **"write"** version - a method that generates a pre-authorized, time-limited URL that allows _upload_ of a given object. I _think_ the implementation

[2020-05-11 10:38] Kami commented on #1452
@mmilitzer Thanks for confirming.

For now, I'll merge #1457 and then in the future look into making it consistent across Python versions, but that will likely be included in major version bump (just in case).

[2020-05-13 18:57] dpeschman opened #1460 "Pluggable authentication token cache for OpenStack driver"
## Feature Request

The OpenStack driver today caches Keystone authentication tokens in memory, allowing a single process to reuse a token for multiple requests.  In a system with many short-lived processes making calls, this cache does not provide its intended benefit.  A separate token is created for each process, and under load this can lead to a token flood in Keystone causing an outage.

We p

[2020-05-31 16:58] doddo opened #1463 "DNSProviders cannot handle Certification Authority Authorization (CAA) records"
## Summary

Libcloud DNSProviders cannot handle Certification Authority Authorization (CAA) records

## Detailed Information

First I manage a dns zone with CAA records in it.

Reproducer:

[code]
Produces this issue:

[code]

And indeed, CAA record is missing from `RecordType` class. I don't know how much more work it'd be to add support for this one, aside from adding it to the RecordType class.

[2020-05-31 21:44] Kami commented on #1463
Yeah, most likely just adding it to the base ``RecordType`` enum class + GANGI_LIVE (https://github.com/apache/libcloud/blob/trunk/libcloud/dns/drivers/gandi.py#L90) provider should do the trick.

But you might also need to utilize ``extra`` dictionary in case you want to manage all the tags (issue, issuewild, iodef).

For simplicity / ease of use, we should likely default ``tag`` to ``issue`` if

[2020-06-01 14:48] Kami commented on #1463
#1464 should do it.

I only tested and implemented it for the CloudFlare and Gandi Live driver.

Other drivers will likely also require some minor modifications to make them support CAA record type.

[2020-06-01 16:35] doddo commented on #1463
neat!

[2020-06-06 20:48] #1463 closed, assigned to nobody

[2020-06-11 09:33] toabctl opened #1466 "OpenStack image v2 api does not handle pagination"
## Summary

When listing images with `list_images()` on OpenStack, not all images are listed.

## Detailed Information

The OpenStack image service (Glance) v2 api does have a pagination mechanism. So when iterating over all images, the user needs to look for a `next` link. See https://docs.openstack.org/api-ref/image/v2/#list-images

But this next link is not handled in the current OpenStack driv

[2020-06-11 11:00] vdloo commented on #1466
I remember that from [this PR https://github.com/apache/libcloud/pull/1263](https://github.com/apache/libcloud/pull/1263).

[2020-06-11 12:39] toabctl commented on #1466
@vdloo fix is here: https://github.com/apache/libcloud/pull/1467

[2020-06-17 14:53] #1466 closed, assigned to nobody

[2020-06-24 14:08] moishikb opened #1471 "Unable to find a name for a VHD to use for instance"
Hi,

I'm trying to create a simple instance on Azure and I'm getting the exception as attached bellow.
I tried to consult with Azure support but they didn't find something problematic with all definitions that related to my Azure account.

Please note that I'm getting the location, the size and the image properly from the defined driver.

**from libcloud.compute.types import Provider
from libcloud

[2020-07-16 13:08] SanderRoosingh opened #1473 "Get a single network by ID for OpenStack"
## Feature Request

Currently to retrieve a network from the OpenStack all networks need to be received. Then these can be filtered by ID. If the ID of the network is known it is not needed to retrieve all networks from the OpenStack.

By creating a function called `ex_get_network` and passing an ID we could retrieve a single network, this would increase performance for some systems. This function

[2020-07-16 21:42] #1473 closed, assigned to nobody

[2020-07-17 13:16] romaintha opened #1475 "Upload/Download bug with Azure Blobs"
## Summary
We are facing some issues interacting with Azure Blobs. Whether it is for uploading or downloading, it happens quite often that we get an error like below. This problem frequency increases dramatically with the size of the file we are interacting. For a large file ~100Go, it is almost impossible to run anything without encountering this. Is it something known?

## Detailed Information
L

[2020-07-19 17:08] c-w commented on #1475
Thanks for the report. This looks like an upstream issue in [urllib3](https://github.com/urllib3/urllib3) (see https://github.com/urllib3/urllib3/issues/367).

@Kami Given that this issue likely affects all drivers and not just the Azure Blobs one, do we want to add global retry handlers to the storage drivers that support chunked transfer?

[2020-07-19 17:12] c-w commented on #1458
This would be a great addition. I would suggest to for now use the extension method naming convention to introduce these methods to select storage drivers (e.g. `ex_get_presigned_upload_url`) and if the functionality gets implemented more widely we can promote the new methods to the core API. To validate the Azure Blobs functionality, I would suggest to also add some integration tests [here](https

[2020-07-19 18:02] Kami commented on #1475
I'm don't know too much about this specific error, but it does look like it's network related.

@c-w There were some discussions about common retrying mechanism in Libcloud, but it was never implement.

I'm fine with adding support for retrying on non-fatal errors (e.g. intermittent network or API issues) to download and upload methods which support chunked transfers (aka where we upload multiple

[2020-08-01 14:39] Zygimantass opened #1480 "GCE driver throws NotImplementedError when calling deploy_node"
## Summary

GCE driver throws NotImplementedError when calling deploy_node, however the provider matrix says this method is implemented (I couldn't find a mention of GCE + deploy_node anywhere in the codebase).

## Detailed Information

Apache LibCloud version: 3.1.0
OS: Ubuntu on WSL
Python version: 3.6.9

Code for reproduction:

[code]

Logs:
[code]

[2020-08-05 08:14] janko-j1 opened #1482 "lockfile used for tests is deprecated"
See https://pypi.org/project/lockfile/.

Please consider using fasteners or oslo.concurrency.

[2020-08-21 21:48] JexPY commented on #1379
@Kami If this answer will be in documentation there will be no questions. Thank you.

[2020-09-09 18:50] mspagon opened #1487 "GET request causes HTTP 400 error (OpenStack & potentially other providers)"
## Summary

**HTTP 400 errors** are appearing in the logs of our **OpenStack server**:  `ERROR WSGI: code 400, Bad request syntax ('0')`.

They appear when sending a GET request.

## Wireshark

![image](https://user-images.githubusercontent.com/5027451/92638975-ca3e6f80-f2a0-11ea-81ed-215407d7c28c.png)

## Detailed Information

**Libcloud version:** v3.0.0
**OS:** Ubuntu 14.04.6 LTS
**Provider:**

[2020-09-09 19:05] mspagon commented on #1487
I traced the bug down to a single-line of code.

A GET request is sent with an empty body `''` incorrectly as a **chunked** request and the `0` appears because it is supposed to signal the final chunk.

## The Line of Code
The code is in `libcloud/http.py` and relates to how `requests` is being used to prepare requests and potentially affects every HTTP request libcloud makes.

A `PreparedRequest`

[2020-09-17 09:16] LimaCxu opened #1489 "Can you increase support for Tencent Cloud and Huawei Cloud?"

[2020-09-21 03:14] yan12125 opened #1490 "test_v4_signature_contains_credential_scope may fail if the time zone != UTC"
## Summary

In `test_v4_signature_contains_credential_scope`, date in URL may not match the expected one if the time zone != UTC.

## Detailed Information

For example, I'm running on a machine with time zone CST (UTC+8). The aforementioned test fails
[code]

The build starts at 21 Sep 02:15:39 AM CST. The date is 20200921 in local time zone and 20200920 in UTC. Looks like the issue is that the te

[2020-09-21 09:59] Aikoh0 commented on #1490
Hello @yan12125,
Thanks for pointing that out, I will look into it and come back to you as soon as possible,
Best regards

[2020-09-21 10:08] micafer opened #1491 "Error setting ex_force_xxx_url without setting ex_force_base_url (with api_version >= 2) in OpenStack driver"
## Summary

If you set any of the ex_force_image_url, ex_force_volume_url or ex_force_network_url without setting ex_force_base_url in case of using api_value >= 2 there is an error that causes base_url is set to the image, volume or network url instead of the base one.

## Detailed Information

It has been tested with libcloud versions 2.8.3+

This code causes the error:

[code]
This is the error

[2020-09-21 13:36] Aikoh0 commented on #1490
Hi @yan12125,

Thanks again for reporting this, little mistake on me.
I have made a pull request which should fix this issue : https://github.com/apache/libcloud/pull/1493
Let me know if this still happens in the future.

Best regards !

[2020-09-22 10:52] yan12125 commented on #1490
Thanks for the fast fix!

[2020-09-22 10:52] #1490 closed, assigned to nobody

[2020-09-22 14:06] #1491 closed, assigned to nobody

[2020-09-23 14:27] micafer opened #1495 "Enable to get Quota Set detail in OpenStack conn"
## Enable to get Quota Set detail in OpenStack conn

It will be very useful to have access the the quota information about a site using this API call.
It will enable to get information about "free" resources for the specific user.

https://docs.openstack.org/api-ref/compute/?expanded=show-the-detail-of-quota-detail#show-a-quota

[2020-09-25 20:32] Matir commented on #1480
Bizarrely, you need to provide a `ssh_key` parameter to avoid this error.  Check out [docs/examples/compute/gce/deploy_node.py](https://github.com/apache/libcloud/blob/trunk/docs/examples/compute/gce/deploy_node.py).

[2020-09-25 21:06] Matir opened #1497 "GCE Driver Does Not Support VMs Without Any Service Accounts"
## Summary

There does not appear to be any way to create a VM on GCE without any service accounts.

## Detailed Information

Providing the argument `ex_service_accounts=[]` to `create_node` still results in the same behavior as `ex_service_accounts=None`, where the default GCE service account is used on the instance.

GCE does support VMs without any service accounts attached, so I believe this s

[2020-09-27 12:53] #1487 closed, assigned to nobody

[2020-10-02 16:19] michaelsembwever commented on #1482
No just for tests.

You can't use local storage against a NFS window mount because of the use of this deprecated library.
https://github.com/apache/libcloud/blob/trunk/libcloud/storage/drivers/local.py#L56

[2020-10-04 17:09] #1497 closed, assigned to nobody

[2020-10-05 06:34] #1495 closed, assigned to nobody

[2020-10-08 07:20] schwehr opened #1500 "%m -> %M for minute"
https://github.com/apache/libcloud/blob/trunk/libcloud/dns/base.py#L496

[code]

should probably be

[code]

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

[2020-10-09 19:22] byt3bl33d3r opened #1501 "Support SSH Authentication for Docker Container Driver"
As of docker `18.09` you can connect to a remote docker daemon over SSH without actually exposing the daemon socket and/or configuring TLS certs. (see https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-socket-option)

e.g. `docker -H ssh://remoteip ps -a`

It would be fantastic if support for this could be added into the Docker driver.

Cheers

[2020-10-11 10:55] #1500 closed, assigned to nobody

[2020-10-11 10:55] Kami commented on #1500
Thanks for the report. Fixed in 021c144e6e3e2aff04fff0f6dbb4e2a272ed6b41.

[2020-10-12 08:55] maingoh opened #1502 "Bad status code from gs display an error from s3 driver"
When using GoogleStorageDriver and getting a 502 we get a confusing error:
`<LibcloudError in <class 'libcloud.storage.drivers.s3.S3StorageDriver'> 'Unknown error. Status code: 502'>`

Probably due to the fact that `GoogleStorageDriver` inherit from `BaseS3StorageDriver`
https://github.com/apache/libcloud/blob/881d5fb0b8973a0f1037e0aa0d3538b407f57d26/libcloud/storage/drivers/s3.py#L141

[2020-10-12 12:52] maingoh opened #1503 "Retry on bad status code"
## Feature Request

It looks like we can activate a retry on some network errors, though I didn't find a way to retry automatically on some 5xx status code. It would be nice to set it from the driver constructor.

[2020-10-15 13:32] sergerdn opened #1507 "digitalocean driver.list_nodes: size and image should be not null"
## Summary

- short info  (converted to json):
[code]
- full info (converted to json):

[code]

[2020-10-21 17:45] spohnan opened #1509 "Add support for AWS S3 us-gov-east-1 region"
## Summary

AWS GovCloud has both an east and west region and at the moment only the original us-gov-west-1 is supported

## Detailed Information

A PR will follow to add S3 support for us-gov-east-1 region

[2020-10-26 04:02] insertjokehere opened #1512 "Cannot create SSHFP records with Cloudflare DNS driver"
## Summary

When attempting to create an SSHFP DNS record using the Cloudflare driver, an error like `1004: DNS Validation Error (error chain: 9101: algorithm is a required data field.)` is raised and the record is not created.

## Detailed Information

It is not terribly well documented, but the Cloudflare API does not allow you to create SSHFP records using the "normal" `<algorithm> <type> <fing

[2020-10-26 09:45] micafer opened #1514 "Enable to get Neutron Quota details in OpenStack driver"
## Enable to get Neutron Quota details

https://docs.openstack.org/api-ref/network/v2/?expanded=show-quota-details-for-a-tenant-detail,list-quotas-for-a-project-detail#show-quota-details-for-a-tenant

[2020-11-01 20:27] Kami commented on #1482
``lockfile`` has been replaced with ``fasteners`` in latest trunk.

Do keep in mind that local storage driver was never really meant to be used for anything beyond testing.

[2020-11-01 20:27] Kami commented on #1482
Resolved via d110a45eb874bec8e3cf0b1371b515265293d6d9.

[2020-11-01 20:27] #1482 closed, assigned to nobody

[2020-11-01 20:54] #1512 closed, assigned to nobody

[2020-11-05 09:45] micafer opened #1516 "There is no way to get flavor extra_specs in OpenStack driver"
## There is no way to get flavor extra_specs in OpenStack driver

Currently when you call the API function to get the details of a flavor the extra_specs field is not returned.
An additional API call is required:
https://docs.openstack.org/api-ref/compute/?expanded=list-flavors-detail,list-extra-specs-for-a-flavor-detail#list-extra-specs-for-a-flavor

It will be great to have a wat to get this inf

[2020-11-05 20:31] #1507 closed, assigned to nobody

[2020-11-05 22:48] sergerdn opened #1518 "feature request, improving tests with pytest and pytest-vcr"
## Feature Permission Request

Hi, there. Please keep in mind:
- my English is very poor
- I have a very limited experience with any open source projects, especially this one

Recently I'v made a small changes to some cloud providers:
- https://github.com/apache/libcloud/pull/1508 (Digitalocean)
- https://github.com/apache/libcloud/pull/1506 (Vultr)

I am asking for permission for completely rewri

[2020-11-06 08:24] #1514 closed, assigned to micafer

[2020-11-06 08:44] #1516 closed, assigned to micafer

[2020-11-21 23:29] macfreek opened #1520 "Possible error in godaddy & hostvirtual DNS RECORD_TYPE_MAP"
## Summary

[libcloud/dns/drivers/hostvirtual.py](libcloud/dns/drivers/hostvirtual.py#L65) and [libcloud/dns/drivers/godaddy.py](libcloud/dns/drivers/godaddy.py#L111) both contain the following definition:

[code]

The line `RecordType.NS: 'SPF',` is very unusual. I suspect this is a bug. This is only two of three places in the libcloud/driver library where there is a mismatch between record type

[2020-11-23 00:54] macfreek opened #1521 "AuroraDNS: bug in exception handling"
## Summary

When trying to use the DNS driver auroradns with incorrect credentials, a bug is triggered in `AuroraDNSResponse.parse_error()`. It passes the wrong attributes, and leads to an unintended TypeError.

## Detailed Information

### Code to reproduce:

[code]

### Expected exception:

This should have raised an `ProviderError: Authorization failed`

### Actual exception:

`TypeError: __ini

[2020-11-25 22:22] macfreek opened #1523 "RecordType.URL should be RecordType.URI"
## Summary

`libcloud.dns.types` defines a RecordType 'URL'. However, no such RR Type exists in DNS. Likely, this is supposed to refer to the 'URI' RR Type.

## Detailed Information

The authoritative list of DNS RR types is https://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml. There is no 'URL' RR type in this list. There is a 'URI' RR type in this list, as defined in [RFC 7553](h

[2020-12-06 13:03] Kami commented on #1521
Resolved via #1522. Thanks again for the contribution.

[2020-12-06 13:03] #1521 closed, assigned to nobody

[2020-12-07 08:10] micafer opened #1524 "Error in tox tests with python3.8 in Ubuntu 20.04"
## Summary

Tox tests fail in the installation of requisites, in particular libvirt-python.

## Detailed Information

Error obtained using Ubuntu 20.04 with python3.8.

This is the error:

[code]

It seems an error of libvirt-python 5.9.0 version that is currently installed in the tests (https://github.com/apache/libcloud/blob/trunk/tox.ini#L10).

The error is fixed in version 5.10.0:
https://bugz

[2020-12-11 12:01] DrissiReda commented on #1454
@puneetloya @Kami any news regarding this issue? I need to use cassandra medusa which uses libcloud storage on a minio object storage

[2020-12-13 11:06] Kami commented on #1454
@DrissiReda As per my comment above - I don't think it should take much work for to add support for custom endpoints as we already have other drivers such as Google Storage based on the S3 one.

I don't have access to any minio cluster to test it myself though. I guess I could try spinning it on minikube, but no idea when I'll get a chance to do that.

[2020-12-13 16:01] Kami commented on #1454
#1528.

I've used MinIO docker image to test it. I haven't done any extensive testing, but the basic operations I tested seem to work fine.

[2020-12-14 16:55] #1454 closed, assigned to nobody

[2020-12-15 00:31] triplepoint opened #1529 "Change in behavior for S3 paths with leading slashes (/) between version 2.0.0 and 3.2.0"
## Summary

We're in the process of upgrading to the latest libcloud release (and Python 3) from a relatively old version 2.0.0 (and Python 2).  During testing, we discovered a change in behavior when uploading objects to AWS S3 when they had a double leading slash in the object path, after the bucket name, for example `s3://some-production-bucket//some-path/some-file.txt`.  Previously, this would

[2020-12-17 19:39] sdcubber opened #1530 "Object metadata keys are lowercased when uploading to GCS"
## Summary

Mixed-case metadata is lowercased when using libcloud to upload objects to Google Cloud Storage.

## Detailed Information

I'm using libcloud to upload files to a Google Cloud Storage bucket together with object metadata.
In the process, the keys in my metadata dict are being lowercased. This is not due to Google Cloud Storage, which does support mixed case metadata.

The issue can be

[2020-12-19 09:51] Kami commented on #1530
Thanks for reporting this.

I assume this was done for some kind of cross-provider compatibility, but I'm not sure.

I think changing it should be fairly straight forward, but the change is backward incompatible which means it would need to be document in upgrade notes and we would also need to have a way to revert back to the old behavior (or perhaps have it as an opt-in instead of opt-out).

[2020-12-19 09:56] Kami commented on #1529
Thanks for reporting this.

I assume that change was done a long time ago during the migration to requests library and likely for compatibility reasons as you mentioned.

I do think we should support your use case as well, but that change would be backward incompatible / potentially breaking which means we need to use a feature flag or similar.

To begin with, perhaps just an argument which can be

[2020-12-19 11:14] Kami commented on #1529
I believe this should work as a workaround - #1531.

As mentioned in that PR, sadly we can't make that a default behavior since it appears to break a lot of other things (it's also backward compatible) so we need to make it a "config option".

[2020-12-19 14:22] Kami commented on #1530
I just had a look - I assume that's limitation of the S3 API.

I verified and S3 API lower cases all the metadata keys (also if you create metadata items through the web interface).

Google Storage driver is  based on the S3 one and utilizes S3 compatible API so it's likely S3 API limitation and not much we can do besides implementing native Google Storage API (this would likely take much more wor

[2020-12-19 14:34] Kami commented on #1530
I also verified we correctly pass headers as provided by the user directly to the API endpoint.

Per S3 API docs, it's indeed limitation of the S3 API - https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html:

User-defined metadata is a set of key-value pairs. Amazon S3 stores user-defined metadata keys in lowercase.
...

And here are a couple of more links for reference::

* https://s

[2020-12-19 14:51] Kami commented on #1530
For now I added this note to the docs - be322400028ee9d27e1935dc1b15aa3f6c28cf16. Hope it helps.

Per that note - even if we ever support Google Storage JSON API, it's probably still better to not rely on mixed casing in case cross provider compatibility is desired.

[2020-12-19 18:01] triplepoint commented on #1529
Thanks for getting to this so quickly, we appreciate it.  I did a quick review of the PR and it looks like it'll work fine for us, it's very similar to the patch we put in place.  I'll set up a test early next week to be sure.  Thanks again.

[2020-12-20 06:53] sdcubber commented on #1530
Alright, clear. Thanks for sorting this out!

[2020-12-22 03:26] dimasmamot opened #1532 "Add tags parser for ECS Alicloud driver compute modules"
## Feature Request

Feature Proposal : Adding parser for tags to returned as node extra data in `list_nodes` function in aliyun ecs driver
Why I think it's a good idea :
- Current node definition of aliyun ecs driver didn't contain any tags value returned, tags are ususally used to identify and categorize instance.
- Since it will be parsed, we will have broader choice of node instance metadata

N

[2020-12-24 10:57] Kami commented on #1529
@triplepoint Did you happen to have a chance to test it yet?

I hope to work on a new release which will include this change in the next couple of days.

One thing worth pointing out is that setting module level variable to allow duplicate slashes will modify behavior for all the requests. So this could potentially cause issues if you are using multiple drivers.

One way to avoid that would be to

[2020-12-27 21:09] #1529 closed, assigned to nobody

[2020-12-27 21:10] Kami commented on #1529
For now I just updated upgrade notes and noted it affects all the instantiated drivers.

If it becomes an issue, we can introduce driver constructor argument which only applies to the driver in question,

[2020-12-27 21:56] Kami opened #1534 "Update EC2 price scraping script"
I tried to run EC2 price scraping script before the release (``contrib/scrape-ec2-sizes.py``), but it seems the format in the JSON and JavaScript files has changed so the script doesn't give expected results anymore.

We need to update the script to correctly handle the new format.

[2020-12-28 01:00] triplepoint commented on #1529
Hi @Kami, I'm sorry, but with the holiday season we haven't gotten around to testing this yet.  I think we have a product release scheuled for mid january, and I intend to have this tested as a replacement for our internal patch for that release.  I'll report back here how it goes, but looking at the change, I think it'll work fine for us.   Thanks again.

[2020-12-29 22:38] macfreek opened #1536 "Inconsistency in specifying TTL in DNS records between example and tests"
## Summary

Right now, the TTL for individual DNS Records is stored either in the `Record.ttl` attribute, or in the `Record.extra` dict, or in both.

Some of the code stores or access the `Record.ttl` value, other code the `Record.extra['ttl']` value. I'll give two examples of either.

This inconsistency causes bugs. E.g. if you follow the documentation for [Create a record with a custom TTL](http

[2020-12-30 00:01] macfreek opened #1538 "DNSPodDNSTests.test_create_record_success() returns an unexpected value"
## `DNSPodDNSTests.test_create_record_success()` returns an unexpected value

Consider the following code (in [test_dnspod.py](https://github.com/apache/libcloud/blob/6b588346083a510396c63b5d18db3012aa083071/libcloud/test/dns/test_dnspod.py#L156)):

    def test_create_record_success(self):
        DNSPodMockHttp.type = 'CREATE_RECORD_SUCCESS'
        record = self.driver.create_record(name='@', z

[2020-12-30 10:42] Kami commented on #1536
Thanks for reporting this.

I believe ``extra["ttl"]`` was there first, but since specifying "random" attributes in ``extra`` dictionary is really a bad and unfriendly API, we decided to "promote" that attribute directly as a top-level ``Record.ttl`` object attribute a while back.

The idea was to eventually remove ``extra["ttl"]`` support, but we haven't done that yet since it is a breaking chang

[2020-12-30 14:51] macfreek commented on #1536
Hi @Kami,

Thanks for your feedback, and patience -- I'm aware that opening both an issue and a PR is a bit more work for you, and you probably have noted that I have a habit to changing the issue or PR while I dive deeper into the issue. I'll try to add a "WIP" (work in progress) tag if I'm not yet happy with the report or PR. You may want to delay your comments till I remove it, to save yourself

[2020-12-30 15:59] Kami commented on #1536
You are welcome and thank you for your contributions.

I'm +1 for improving it for other record types as well - handling those things via ``extra`` dictionary is definitely not a great API.

As far as implementation wise, I would need to think a bit more about it. For one, I don't think it should live directly on the base ``Record`` class since those attributes are specific to only some record typ

[2021-01-05 09:00] DrissiReda opened #1539 "Bad request, region is wrong for s3 minio"
I'm trying to use minio driver with medusa (cassandra backup) and I'm getting error bad request: Here is the response:

[code]

You can see that the region header is 'us-east-1' and it says it's expecting us-east-1, I don't understand what's wrong or what header is required.

Does anyone have an idea what might be broken?

Using python library apache-libcloud  v3.3.0

Running medusa on kubernetes,

[2021-01-05 14:15] DrissiReda commented on #1539
Solved it by setting https://github.com/apache/libcloud/blob/4370a7021c11c1c61afe6470d2baafc093bfa0dd/libcloud/storage/drivers/minio.py#L49 to
`region_name = "us-east-1"`

Not sure if it's worth a PR

[2021-01-05 14:15] #1539 closed, assigned to nobody

[2021-01-05 15:56] Kami commented on #1539
Thanks for reporting this.

I will have a look and try to reproduce this issue (for me, minio driver works out of the box, but could be something related to your configuration - e.g. multiple regions or similar).

[2021-01-05 15:57] DrissiReda commented on #1539
Normally minio shouldn't rely on regions, which is why it's "us-east-1" by default, it's the s3 drivers that raises the issue since it requires it.

[2021-01-11 17:34] ktdreyer opened #1540 "fix docstring for get_image()"
In the compute API, the [docstring for `get_image()` method's `image_id` parameter ](https://libcloud.readthedocs.io/en/latest/compute/api.html#libcloud.compute.base.NodeDriver.get_image)says "Node to run the task on." This description does not make sense. It looks like a bad copy-paste from the `create_image()` method's `node` parameter.

[2021-01-11 17:35] ktdreyer commented on #1540
(Looks like ReadTheDocs is not rendering `:rtype NodeImage: :return: NodeImage instance on success.` properly there either)

[2021-01-11 18:19] ktdreyer opened #1541 "RFE: default openstack `api_version` to latest"
## Feature Request

[`libcloud/compute/drivers/openstack.py`](https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/openstack.py) defaults to API version "1.1".

[code]

It would be nice to default to the very latest API version ("2.2" as of this writing) so that new libcloud users can get started with the latest code easily.

[2021-01-11 19:09] ktdreyer opened #1542 "RFE: add name parameters to list_* methods"
## Feature Request

In large environments, running `list_nodes()` and then filtering the list by name client-side is expensive.

It would be fantastic if I could filter nodes, images, and volumes server-side instead. Can we add a new `name` kwarg to `list_nodes()`, `list_images()`, `list_volumes()`, etc?

[2021-01-19 17:49] RunOrVeith opened #1544 "Google Storage Driver does not always return content-length"
## Summary

The google storage driver crashes with a KeyError in `get_object` because google does not send the `content-length` header in some cases.

[code]

## Detailed Information

Libcloud version 3.3.0
Ubuntu 18.04
Python 3.8

Google Storage does not send the content-length header in the following case:

- File has `content-encoding: gzip`
- Request header has `Accept-Encoding: gzip`
- File i

[2021-01-22 10:21] olegrtecno opened #1545 "Can't access EC2 zones requiring signature version 4"
## Summary

The latest version (3.3.0) always uses a default signature version 2 for API authentication. Accessing some EC2 regions (e.g. us-east-2) requires a signature version 4.

## Detailed Information

libcloud 3.3.0
python 3.6.8
centos 7.7

The list_nodes() operation fails for 'us-east-2' with an error message
libcloud.common.types.InvalidCredsError: 'AuthFailure: AWS was not able to validat

[2021-01-22 10:43] Kami commented on #1545
Thanks for reporting this.

Quickly glancing at this code, I don't see how it could affect it, but I need to dig in.

Looking at the code it seems like we default to signature version 2. Did we ever default to version 4?

* https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/ec2.py#L1618
* https://github.com/apache/libcloud/blob/trunk/libcloud/common/aws.py#L54

It seems like we

[2021-01-22 11:50] olegrtecno commented on #1545
Thanks for looking at this.

The code defaults to version 2, which is OK. However, the override for regions, that require version 4, which was taken from the regions settings doesn't work anymore, after the settings are taken from the partial config, where the signature version is missing: https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/ec2.py#L5799

[2021-01-22 15:51] Kami commented on #1545
@olegrtecno I was able to reproduce the issue - it's indeed a regression.

I will open a PR with a bug fix shortly. As part of that change, I will also make it possibly to specify ``signature_version`` via driver constructor argument and override default value from region constants file.

As a temporary workaround, you could do something like this:

[code]

This should work as long as you are only

[2021-01-22 16:10] Kami commented on #1544
Thanks for reporting this issue.

I think that just setting size to None should work fine for this scenario, but I need to dig in a bit and ensure it doesn't break anything (edit: ``x-goog-stored-content-length`` suggestion you mentioned should also work and be better).

[2021-01-22 17:56] Kami commented on #1542
I agree that this would be a good feature to have. Some drivers already implement this functionality via extension / ex_ arguments.

As far as implementation goes - ideally we should filter on the server side where that is supported, but for compatibility reasons, where it's not supported, we can implement simple late filtering on the client side.

[2021-01-22 21:57] RunOrVeith commented on #1544
Thanks for the quick update, it seems like google also [recognized this as a bug](https://issuetracker.google.com/issues/177896087) and is working on a fix

[2021-01-23 10:01] Kami commented on #1544
You are welcome and thank you for a good and detailed bug report. It's also good to hear that Google is working on a fix.

As far as bug fix goes - I went with the middle of the ground approach which doesn't require us to re-implement / duplicate whole ``_headers_to_object`` method.

Usually, I would wait a big longer on the review, but we need to get another bug fix (#1545) out soon, so I decided

[2021-01-23 10:32] Kami commented on #1544
Resolved via #1547.

[2021-01-23 10:32] #1544 closed, assigned to nobody

[2021-01-23 10:33] Kami commented on #1545
Resolved via #1546. Thanks again for reporting this issue.

[2021-01-23 10:33] #1545 closed, assigned to nobody

[2021-01-23 10:35] Kami commented on #1541
Yeah, this seems a reasonable change to me.

But perhaps we should default it to current latest (2.2) to avoid issues when a new version is released?

Having said that - are you willing to make that change? Should be a small code + tests change and we should also add entry to docs upgrade notes.

[2021-01-23 10:37] Kami commented on #1540
Thanks for reporting this - please feel free to open a PR with a fix :)

[2021-01-25 22:16] Kami commented on #1545
v3.3.1 with bug fix for this issue is now out. Thanks again for reporting it.

[2021-01-25 22:17] Kami commented on #1544
v3.3.1 with bug fix for this issue is now out. Thanks again for reporting it.

[2021-01-28 17:29] RunOrVeith opened #1550 "Azure Blob Storage does not return Content-Encoding when blob was uploaded via stream"
## Summary

When uploading a blob to Azure Blob Storage that is gzip encoded using `upload_object_via_stream` and then try to read it again, the response does not contain the `Content-Encoding: gzip` header. It works when uploading using `upload_object`.

## Detailed Information

Ubuntu 18.04, Libcloud 3.3.1, python 3.8

**Code to Reproduce**:

[code]

As you can see, the file that was uploaded vi

[2021-01-28 19:01] mkcello96 opened #1551 "Azure blobs - setting AzureBlobsStorageDriver `host` does not work for non-emulated requests"
## Summary

I'm using libcloud to connect to Azure Gov, so I need to change `host` in my AzureBlobsStorageDriver connection object (which uses `<account>.blob.core.usgovcloudapi.net` instead of the default `<account>.blob.core.windows.net`). This does not work - the call fails with `Unexpected status code: 400`.

This broke after https://issues.apache.org/jira/browse/LIBCLOUD-1033 was merged ~2 ye

[2021-01-28 19:56] Kami commented on #1551
Thanks for reporting this.

@c-w Any chance you will be able to look at this in the near future?

[2021-01-29 01:00] c-w commented on #1551
@Kami Yes, happy to look into it.

[2021-02-07 16:42] c-w commented on #1551
@mkcello96 I have a patch for this but I don't currently have access to an Azure Government subscription to verify the fix end-to-end. Could you instantiate the driver at version 505894fa as shown below and let me know if your issue is resolved? Thanks in advance!

[code]

[2021-02-08 02:27] c-w commented on #1550
This doesn't seem to be a limitation in Azure. I was able to upload a blob with gzip content-encoding using `az storage blob upload --connection-string="..." --container-name="..." --file "test.gz"  --name "test.gz" --content-encoding gzip` and then validate the correct content-encoding being returned when GETing the file via curl. Looking into what needs to change on the libcloud side to support

[2021-02-08 03:43] c-w commented on #1550
@RunOrVeith I believe I have a fix for this. Could you please instantiate the driver at version cf6756b and verify that your scenario works as expected?

[2021-02-08 17:24] RunOrVeith commented on #1550
I am out of office until next Monday but will give it a shot then. Thanks for looking into it!

[2021-02-09 01:22] mkcello96 commented on #1551
Hey @c-w thanks so much for putting a fix in for this. I'm getting this error now:

`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/mkersh/Documents/libcloud/libcloud/storage/drivers/azure_blobs.py", line 221, in __init__
    port=port, **kwargs)
  File "/Users/mkersh/Documents/libcloud/libcloud/common/base.py", line 1008, in __init__
    self.connection =

[2021-02-10 15:50] c-w commented on #1551
Thanks @mkcello96. This should be resolved as of b16eb28.

[2021-02-10 18:53] mkcello96 commented on #1551
Working for me now @c-w,  thanks!

[2021-02-10 22:16] #1551 closed, assigned to c-w

[2021-02-15 09:51] RunOrVeith commented on #1550
It seems to work now on the `storage-azureblobs-fix-1550-contentencoding` branch, thanks :)

[2021-02-15 15:19] #1550 closed, assigned to c-w

[2021-02-20 13:15] robjuffermans opened #1554 "KeyError in OVH driver"
Using latest libcloud 3.3.1 on Centos 8.3

While resizing an OVH instance I ran **wait_until_running** and gave a **KeyError** for key **RESIZE**

  File "/usr/local/lib/python3.8/site-packages/libcloud/compute/base.py", line 1679, in wait_until_running
    all_nodes = self.list_nodes(**ex_list_nodes_kwargs)
  File "/usr/local/lib/python3.8/site-packages/libcloud/compute/drivers/ovh.py", line 98,

[2021-02-22 22:10] Kami commented on #1554
@robjuffermans Thanks for reporting this.

Please feel free to open a PR with the fix - should be straight forward, just need to update state map + add test for it.

[2021-02-24 00:38] robjuffermans commented on #1554
just made pull request #1555

[2021-02-24 19:18] pajuga opened #1556 "new provider driver: phoenixNAP Bare Metal Cloud"
Creating this issue as an umbrella place for the implementation of [phoenixNAP Bare Metal Cloud](https://phoenixnap.com/bare-metal-cloud) driver.

[2021-02-26 22:51] #1554 closed, assigned to nobody

[2021-03-03 09:38] micafer opened #1560 "Support volume v3 API endpoint in OpenStack driver"
## Support volume v3 API ednpoint in OpenStack driver

Currently the OpenStack driver only supports v2 API of the volume API.
It should be added the support to v3 as v2 is currently deprecated.
Furthermore in some sites the cinderv2 volume is not yet available (only cinderv3), so all the volume related functions fail with the error 'Could not find specified endpoint'.

https://docs.openstack.org/a

[2021-03-03 14:32] maingoh commented on #1503
This probably involve to raise specific exceptions that store the HTTP code instead of raising generic LibCloudError and parsing the code from in the error message https://github.com/apache/libcloud/blob/fe4f81b5a31a8f470ff6ba5af7451cccfc423c2b/libcloud/storage/base.py#L716

[2021-03-04 10:46] dvdrbn-m9 opened #1562 "Problem uploading empty files with upload_object"
## Summary

Using `upload_object` to upload an empty file returns response:
`400 - Bad Request: too many Host headers`

## Detailed Information

Python 3.6.8
Libcloud: 3.3.1
OS: rhel 7.9

I use libcloud to upload objects to 3 providers - aws s3, minio & netapp storageGrid, I use the s3 driver for all of them. `upload_object` function works fine except when I try to upload an empty file (I sometime

[2021-03-05 10:00] binarilly opened #1563 "OSSStorageDriver upload_object & download_object_via_stream Issue"
在使用libcloud调用aliyun oss时遇到以下两个问题：
1. upload_object: libcloud.common.types.InvalidCredsError: b'<?xml version="1.0" encoding="UTF-8"?>\n<Error>\n  <Code>NonStandardHostForbidden</Code>\n  <Message>Your host is invalid. Please use Open Storage Service standard host.</Message>\n  <RequestId>60420052D987C1303869C56D</RequestId>\n  <HostId>oss.aliyuncs.com</HostId>\n</Error>\n'
查明原因是因为在OSSStorageDriver

[2021-03-08 10:51] micafer opened #1565 "Get accelerators field in the GCE machineType"
## Get accelerators field in the GCE machineType

The 'accelerators' field return the list of available GPUs in a machineType in GCE.
It will be very interesting that this field is returned in the 'extra' NodeSize field.

It is just a minor change.

[2021-03-10 07:45] micafer opened #1567 "Error in coverage tests"
## Summary

There is an error with the coverage test.

## Detailed Information

Error shown:

[code]

It seems to be a problem with libvirt-python version 5.9 with python3.

https://bugzilla.redhat.com/show_bug.cgi?id=1783796

[2021-03-10 08:37] #1567 closed, assigned to nobody

[2021-03-25 10:46] #1565 closed, assigned to nobody

[2021-04-07 03:27] jhadjar commented on #1425
Is there an update on this?

I'm trying the following:

[code]

Output:

[code]

[2021-04-11 23:55] orrery opened #1573 "Fix pagination in the "list_images()" method in the GCE driver"
## Summary

Ubuntu 20.04 LTS is not in the list of images returned by the GCE driver, but 18.04 LTS and 16.04 LTS are returned.
See: https://libcloud.readthedocs.io/en/stable/compute/drivers/gce.html#libcloud.compute.drivers.gce.GCENodeDriver.list_images
Ubuntu 20.04 LTS is a non-deprecated global image as far as I am aware, and should be returned as per the description in the API.

## Detailed In

[2021-04-15 00:57] orrery commented on #1573
from what I can see apache libcloud returns ubuntu 2004 in the image lists, but they’re all deprecated, and the deprecated images reference a ‘replacement’ reference to `{'state': 'DEPRECATED', 'replacement': 'https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-2004-focal-v20210413'}` which is NOT in the returned list. I’m starting to suspect Google is the problem …

[2021-04-15 06:30] orrery commented on #1573
Possibly connected with https://github.com/apache/libcloud/pull/1449

[2021-04-15 09:05] Kami commented on #1573
Thanks for reporting this.

And yeah, likely the internal list needs to be updated.

[2021-04-15 09:54] orrery commented on #1573
Sorry I think this can be closed, I think the problem stems from the 500 item limit in my calling code. I may need to add a filter ... Will confirm tomorrow

[2021-04-15 10:15] Kami commented on #1573
Thanks. I will close the issue.

If the issue still exists after adjusting the pagination parameters, please feel free to re-open it.

[2021-04-15 10:15] #1573 closed, assigned to nobody

[2021-04-22 00:15] orrery commented on #1573
How would I adjust pagination parameters for list_images() ?

[2021-04-22 01:09] orrery commented on #1573
so I tried pagination on list_images and it doesn't work as expected.
[code]

if you look at responses from `ex_list_project_images`  self.connection.request(request, method='GET').object
you will see the item list in the response maxing out at 500. Note that `pageToken` is being set, but it appears that it is not effecting pagination at `ex_list_project_images` function.

I noticed that the reque

[2021-04-23 07:41] vdloo opened #1574 "DigitalOcean will change their floating IP API on the 26th of april"
We just got an email from DigitalOcean stating that they will change their [Floating IP API endpoint](https://developers.digitalocean.com/documentation/v2/#floating-ips) starting the 26th. Functionally this shouldn't break in libcloud but the fixtures for the tests that are used will be a bit outdated (https://github.com/apache/libcloud/blob/trunk/libcloud/test/compute/fixtures/digitalocean_v2/lis

[2021-04-26 13:10] dimgal1 opened #1575 "LibcloudConnection Session timeout does not work"
## Summary

Based on this issue https://github.com/psf/requests/issues/3341, the requests module has changed the way timeout is set,  so this
https://github.com/apache/libcloud/blob/cc5987b5f79d4bca9c9139f24878686224b75425/libcloud/http.py#L205
has no effect.

[2021-04-27 08:18] dimgal1 opened #1577 "Retry decorator on RateLimitExceeded issue"
## Summary

Enabling retry logic does not work for rate limit exceeded responses.

## Detailed Information

retry decorator expects a `RateLimitExceeded` error to be raised, though `session.request` method does not raise an exception if a response is returned by the server no matter the status code.

I've tested it on azure_arm driver by setting `RETRY_FAILED_HTTP_REQUESTS` to True and trying:
[co

[2021-05-17 13:14] sandeep-netomi opened #1581 "How can I define region for us-east-1"
Hi Team,

I was trying to store Cassandra backup using medusa. But it's not happening as there is no mapping of s3 storage provider for region us-east-1.

can you please help me with how I can store the data Bucket created in us-east-1 region.

[2021-05-21 14:56] miraculixx opened #1582 "pricing.json on s3 public access is forbidden"
## Summary

According to the [documentation](https://libcloud.readthedocs.io/en/stable/compute/pricing.html) pricing data can be retrieved from a public s3 bucket. However this bucket does not currently seem available without proper authentication & authorization.

## Detailed Information

The docs state this command to download daily updated pricing data. It currently yields a 403:

[code]

The s

[2021-05-21 18:59] Kami commented on #1582
Thanks for reporting this.

This likely broke recently when adding integration tests for S3. I will look into permissions and fix them.

I will also add a check as part of the nightly publish job which will fail the job if we fail to download pricing file.

[2021-05-21 19:05] Kami commented on #1582
This should now be fixed. I also added a CI check in ea364c58cd954d6b076c4e30bb283f33381a1246.

[2021-05-22 09:41] Kami commented on #1582
Confirmed it's working (https://github.com/apache/libcloud/runs/2644266413?check_suite_focus=true). Thanks again for reporting this.

[2021-05-22 09:41] #1582 closed, assigned to nobody

[2021-05-25 13:08] Ido-Levi opened #1583 "container.list_objects with prefix and the local driver is very slow when a lot of files are stored"
## Summary

I have a large storage that I'm using libcloud to manage - in this specific case it's around 500,000 objects, and I've noticed that listing object using the local driver and a prefix is very slow (took almost 2 minutes to return 90 objects).

## Detailed Information
In the local driver implementation when calling list_objects with a prefix - we firstly get all the objects and serialize

[2021-05-25 13:31] Ido-Levi commented on #1583
PR: https://github.com/apache/libcloud/pull/1584

[2021-05-25 14:56] micafer opened #1585 "Enable to get Volume Quota details in OpenStack driver"
## Enable to get Volume Quota details in OpenStack driver

    https://docs.openstack.org/api-ref/block-storage/v2/index.html?expanded=show-quotas-detail
    https://docs.openstack.org/api-ref/block-storage/v3/index.html?expanded=show-quota-usage-for-a-project-detail

[2021-05-28 12:30] simkimsia opened #1587 "Add more purchasing a domain methods"
## Feature Request

As far as I can tell, there's already an existing method for godaddy dns driver class to purchase a domain.

I wonder if it's possible to add more similar methods for other providers to purchase domains

[2021-05-31 15:43] RunOrVeith commented on #1577
I implemented a pull request that goes into the direction of making this more customizable

[2021-06-01 07:57] doranid opened #1589 "GCENodeDriver.ex_create_multiple_nodes doesn't clean itself when fails."
## Summary

When calling `GCENodeDriver.ex_create_multiple_nodes`, if it gets timeout, the whole operation raises an exception, and the already created nodes are dangling and are not passed to the caller.

## Detailed Information

When calling `GCENodeDriver.ex_create_multiple_nodes`, if it gets timeout, the whole operation raises an exception , and the already created nodes are dangling and are n

[2021-06-05 13:06] gguta opened #1590 "ECS driver does not work."
## Summary

ECS driver does use wrong host name; if I fix this in the code the package send a request to AWS causing internal server error.
## Detailed Information

apache-libcloud==3.3.1/Python 3.8.5/ubuntu20.04

Running the example provided in the documentation:
[code]
This results an error message: `requests.exceptions.InvalidURL: Failed to parse: https://ecs.%s.amazonaws.com/`

If I change the

[2021-06-10 07:08] RunOrVeith opened #1591 "Signing in with OAuth is unnecessarily slow when enabeling retries"
## Summary

When you create a google driver with OAuth2 credentials, there is code to determine which auth type is being used.
This checks if it can reach the metadata server from Google Compute Engine to see if it is some kind of GCE login.
When using OAuth credentials, this will always fail. If you have retries enabled it will non the less retry with exponential back off until the timeout is rea

[2021-06-17 01:22] triplepoint opened #1593 "implement `create_image()` or an `ex_` equivalent in the AzureNodeDriver in azure_arm"
I think this must just be something no one's gotten around to yet.

Do you have any guidance on how big an effort it would be to implement this?  Are there any known gotchas around Azure that are making this difficult to do?

[2021-06-21 07:04] optplx commented on #1581
Hello @sandeep-netomi, just my 2 cents here if not too late, for us-east-1 I think it is supposed to be just `s3`  (see https://github.com/apache/libcloud/blob/trunk/libcloud/storage/types.py#L53)

[2021-06-28 07:58] #1560 closed, assigned to nobody

[2021-06-28 07:58] #1524 closed, assigned to nobody

[2021-07-11 12:14] potiuk opened #1594 "Migrate to the next version of Python requests when released"
Hello Maintainers,

I am a PMC member of Apache Airflow, and I wanted to give you a bit of heads-up with rather important migration to the upcoming version of requests library in your Python release.

Since you are using requests library in your project, you are affected.

As discussed at length in https://issues.apache.org/jira/browse/LEGAL-572 we found out that the `chardet` library used by `req

[2021-07-13 15:39] potiuk commented on #1594
Requests 2.26.0 released without the mandatory chardet dependency:

https://pypi.org/project/requests/2.26.0/

Instead of chardet, use the MIT-licensed charset_normalizer for Python3 to remove license ambiguity for projects bundling requests. If chardet is already installed on your machine it will be used instead of charset_normalizer to keep backwards compatibility. (#5797)

You can also install

[2021-07-21 21:15] dpeschman opened #1595 "OpenStack_1_1_NodeDriver.ex_get_floating_ip raises exception when not found"
## Summary

Calling ex_get_floating_ip with an IP not in the list raises an exception, but feels like it should return None instead to be consistent w/ ex_get_node_details.

Honestly, not sure this is a bug.  Seems like there are a lot of methods in this driver that will throw an exception if the requested resource is not found.  Figured I'd raise this anyway so we can discuss.  I wound up wrappin

[2021-08-12 13:57] marianne013 opened #1597 "Add application credential support to Openstack driver"
## Feature Request
We would like libcloud to support application credentials as they are a good way for automated tools to authenticate with Openstack. This feature is quite heavily used by the communities we support.
We've written an example implementation, I will attach a pull request to this issue if you would like to use it.

[2021-09-04 16:53] pythonmobile opened #1600 "create_node issue with ec2"
## Summary

Unable to create_node with ec2 instance. Perhaps adding a VPC will help, but not sure.

## Detailed Information

I am trying to fire a create_node on ec2, and have this issue. When I try:

 node = conn.create_node(
      name="test-temp",
      image=image,
      size=size,
      ex_subnet=subnet,
 )

I get the following error:

libcloud.common.exceptions.BaseHTTPError: InvalidParamete

[2021-09-04 20:07] #1600 closed, assigned to nobody

[2021-09-08 20:59] pythonmobile opened #1601 "EC2 iam role not working for list_nodes()"
## Summary

I am trying to list nodes from an EC2 instance by getting temporary credentials for building a driver. I could use help in making this work.

## Detailed Information
import os
import logging
import pathlib
import requests
import configparser
from libcloud.compute.types import Provider
from libcloud.compute.providers import get_driver

IAM_METADATA_URL = "http://169.254.169.254/latest/m

[2021-09-10 14:46] pythonmobile commented on #1601
describe-addresses - the ec2 instance was missing this permission!

[2021-09-10 14:46] #1601 closed, assigned to nobody

[2021-09-19 19:33] fedepad opened #1603 "docs: fix Minio homepage links"
Links to Minio in the docs actually refer to Google cloud storage.
For example the link ref for Minio on this page: https://libcloud.readthedocs.io/en/latest/storage/supported_providers.html

[2021-09-21 11:02] inevolin opened #1605 "providing ACL fails with SignatureDoesNotMatch"
## Summary

When uploading a file to Storage (S3 or DigitalOcean Spaces), with the ACL header/parameter, the request fails with "SignatureDoesNotMatch" exception.

## Detailed Information
Demo code:
[code]

Providing meta_data, and/or other information in the `extra` dict works just fine, it fails as soon as I provide any `acl` key/value.

- Libcloud version: 3.3.1
- Python version: 3.9.1

**Scree

[2021-09-25 08:14] Wenzel opened #1607 "MinIO: ObjectHashMismatchError when trying to upload object"
## Summary

The MinIO provider raises an `ObjectHashMismatchError` when trying to upload an object, for no clear reason
100% reproducible, code to repro the bug is provided

## Detailed Information

libcloud: latest stable, 3.3.1
Python: 3.8.10
OS: Ubuntu 20.04

Here you can find a repo to repro the bug, using `pytest` (Actually there are 2 bugs to report):
https://github.com/Wenzel/libcloud_bug

[2021-09-25 08:21] Wenzel opened #1608 "MinIO: InvalidCredsError when trying to retrieve an object"
## Summary

When using the `minio` provider and getting an object, the method raises an `libcloud.common.types.InvalidCredsError`, despite the fact that it was able to create a container and upload it the object (so it doesn't look like a credential issue)
100% repro, code to repro the bug is provided

## Detailed Information

libcloud: latest stable, 3.3.1
Python: 3.8.10
OS: Ubuntu 20.04

Here yo

[2021-10-05 10:47] dimgal1 opened #1609 "Vultr: API v2"
## Feature Request

Support Vultr's new API since it has reached [general availability](https://www.vultr.com/news/API-v2-Has-Reached-General-Availability/) and the old one will be deprecated some time in the future

[2021-10-11 09:42] micafer opened #1611 "Add binding:host_id in OpenStack port information"
## Add binding:host_id in OpenStack port information

Add the field 'binding:host_id' in the extra field of the OpenStack_2_PortInterface class.

[2021-10-13 10:57] micafer opened #1613 "Integration tests are failing"
## Integration tests are failing

Integration tests are failing due to timeout (6h).
It starts failing 3 months ago:
https://github.com/apache/libcloud/actions/runs/1013619673

[2021-10-13 11:01] Kami commented on #1613
I'll try to have a look over this weekend.

Looks like tests also produce no output which may make it a bit hard to troubleshoot. In any case, it looks like we also need timeout directly in the tox / pytest level to avoid such long runs and CI based timeouts.

[2021-10-18 07:58] micafer opened #1614 "Add disabled property to OpenStack images"
## Add disabled property to OpenStack images

OpenStack images images has the property `OS-FLV-DISABLED:disabled` in case that the image is disabled and cannot be used to launch an instance.

It is important to get it.

[2021-10-22 08:10] #1603 closed, assigned to nobody

[2021-10-22 09:36] #1575 closed, assigned to nobody

[2021-10-22 14:45] Kami commented on #1613
#1616 fixes this issue.

I will also work with @c-w and see if we should pin used Docker images to a specific tag or similar to avoid such failures in the future.

[2021-10-22 14:48] Kami commented on #1613
Resolved via #1616.

[2021-10-22 14:48] #1613 closed, assigned to Kami

[2021-10-24 20:19] Kami commented on #1614
Resolved via #1615.

[2021-10-24 20:19] #1614 closed, assigned to micafer

[2021-10-24 20:19] Kami commented on #1611
Resolved via #1615.

[2021-10-24 20:19] #1611 closed, assigned to micafer

[2021-10-24 20:21] #1597 closed, assigned to nobody

[2021-10-24 20:23] Kami commented on #1594
Sorry for the delay and thank for notifying us about this issue / change.

I will look into updating setup.py metadata so we require ``requests>=2.26.0`` and including that change in the next release (I will bump a minor version to be on the safe side).

We don't support Python 2 anymore so hopefully there won't be any problems, but I will also go over requests changelog to make sure we avoid any

[2021-10-24 20:47] Kami commented on #1594
Looks like latest version if requests also dropped support for Python 3.5 which means this change will be more involved.

For now, I will add a conditional to setup.py to use older version of requests under Python 3.5, but in the future we should probably also consider dropping support for Python 3.5 to simplify things.

[2021-10-24 21:31] Kami commented on #1594
Since Python 3.5 is EOL for more than a year now (https://endoflife.date/python), I think it's reasonable for us to drop support for it in the release after the next one.

Next one will be 3.4.0 and should go out this year and the one after that will be 3.5.0 and will likely go out some time next year.

What do other people think? /cc @c-w @vdloo @tonybaloney @micafer @RunOrVeith

EDIT: Per packag

[2021-10-24 21:32] tonybaloney commented on #1594
100%

[2021-10-25 05:24] vdloo commented on #1594
sounds good, people can pin the 3.4.0 release if they still need to run on python 3.5 :+1:

[2021-10-25 06:16] micafer commented on #1594
I fully agree.

[2021-10-25 08:04] Kami commented on #1591
How do you think we should handle this scenario better?

Adding ``ex_auth_dont_contact_metadata_server`` argument to the driver constructor (I'm not a big fan of additional arguments, so ideally we should come up with a better out of the box approach)?

Or is there is a way for is to detect if oauth type of credentials are used and moving that if clause before ``elif cls._is_gce()``?

If none of t

[2021-10-25 16:28] RunOrVeith commented on #1594
I also agree

[2021-10-25 16:40] RunOrVeith commented on #1591
I mentioned it in the pull request, we can detect the type of credentials I think.

[2021-10-26 15:38] #1594 closed, assigned to nobody

[2021-10-26 15:40] Kami commented on #1594
#1619 should mostly address this issue (will be fully addressed when dropping support for Python 3.5).

It's also worth noting that we don't have a fixed version specified in setup.py so in most cases, latest version of requests will already be installed when installing Libcloud.

[2021-11-03 17:34] Kami commented on #1460
Resolved via #1557.

[2021-11-03 17:34] #1460 closed, assigned to nobody

[2021-11-03 21:28] Kami opened #1623 "Reformat all the code with black and enforce black coding style"
I think it's time to finally move away from our "home grown" coding style and rules and move to something better a lot of other Python projects use (aka black - https://github.com/psf/black).

The actual commit / change which reformats all the existing code will be disruptive, but I don't think there is much we can do it and we should probably do it sooner than later.

Main problem with such chang

[2021-11-03 21:30] Kami commented on #1623
@apache/libcloud-committers @dpeschman @RunOrVeith @dimgal1 What do other people think?

I guess @d-mo you may have the most to say since I imagine you may use a fork which is not fully in sync with upstream.

[2021-11-03 22:01] tonybaloney commented on #1623
👍🏻  to this change, but be careful with _which_ version of black, because this can cause inconsistencies with people running locally,

[2021-11-03 22:42] Kami commented on #1623
@tonybaloney Thanks.

Do you happen to know what's the currently most used version of black (19.x?). I did notice recently when upgrading some otherprojects to the latest version that some of the formatting rules did indeed change which caused quite lot of code churn again.

But in any case, we plan to pin it in tox environment and advise developers to use tox command and which black version shoul

[2021-11-04 09:46] RunOrVeith commented on #1623
If we take care to minimize the amount of open pull requests I am open to it.
I personally prefer black with a longer line width than 79 characters (e.g. 120), because I think enforcing short lines encourages non-descriptive variable names, but I'm not too opinionated on it.

[2021-11-04 09:56] micafer commented on #1623
I fully agree with @RunOrVeith about setting a longer line width.
In many cases short lines make the code difficult to read.

[2021-11-04 10:49] Kami commented on #1623
I'm +1 for longer lines. I think 100 is a good middle of the ground compromise between 80 and 120.

[2021-11-04 13:43] dimgal1 commented on #1623
I'm +1 for black, 100 characters seems fine.

[2021-11-04 16:00] dpeschman commented on #1623
I’m not that into it, but can see how it might benefit a project where many hands come and go.

[2021-11-06 21:06] Kami commented on #1591
Resolved via #1621. Thanks again for reporting this issue.

[2021-11-06 21:06] #1591 closed, assigned to nobody

[2021-11-06 22:53] Kami commented on #1594
A lot of the libraries and tooling has already dropped support for Python 3.5 a while back so my recent PRs and changes have been quite a pain since I needed to implement a bunch of workarounds to get it to work under Python 3.5.

So the sooner we drop support for it, the better.

[2021-11-07 18:24] #1609 closed, assigned to nobody

[2021-11-11 21:11] Kami commented on #1594
@potiuk and others - Just a heads up - I decided to remove that requests pinning change all together for now  - edfb4c5b9302ef74bedb63d53192a458bc466aa2.

The reasoning behind it is here - https://github.com/apache/libcloud/pull/1627#issuecomment-966625020.

In short, we are a library and not application and strict version pinning like that has a big chance to brake many user installations due to

[2021-11-11 22:51] justinmclean commented on #1594
It not fine from an ASF Policy point of view you can not have a dependancy that has a Category X license.

[2021-11-11 23:10] Kami commented on #1594
@justinmclean I read the ASF policy (https://www.apache.org/legal/resolved.html) and some of the related JIRA issues (https://issues.apache.org/jira/browse/LEGAL-572, https://issues.apache.org/jira/browse/LEGAL-220) and it doesn't appear that the answer is that straight and clear cut in this scenario (or maybe my interpretation is wrong or I missed some ticket). I haven't really found much prior a

[2021-11-11 23:22] potiuk commented on #1594
See my comment here: https://issues.apache.org/jira/browse/LEGAL-572?focusedCommentId=17442504&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17442504 - I quite agree with @Kami

[2021-11-11 23:25] potiuk commented on #1594
And just to add to that - Airlfow is both a library AND application :). Which makes us take even a bit different approach (we have as open dependencies as we can afford, but we also have constraint files to allow installation to be reproducible: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files

We added the "requests" limitation,  but I

[2021-11-11 23:33] Kami commented on #1594
@potiuk Thanks for your input and additional context (and of course many thanks for bringing this issue to our and other projects attention and coordinating with the requests project, etc.)

@justinmclean Also thanks for your input. With all the info above, we would like to get some additional clarify on how to proceed here.

We will of course comply with any legal requirements, but we need to kno

[2021-11-24 22:37] Kami commented on #1623
Alright, #1624 has been merged and that includes more reasonable 100 character long line length.

Hopefully people won't have too many issues syncing their forks with the latest trunk version.

The best workflow probably is to run black with the same config as trunk uses on your local fork / changes, commit the change and then merge / pull in in latest upstream trunk - this should make addressing

[2021-11-26 12:14] micafer opened #1629 "Add Server Groups functions in OpenStack driver"
## Add Server Groups functions in OpenStack driver

Enable to list, get, create and delete server groups.
Also enable to set the server group in the create node function to enable affinity and anti-affinity policies.

https://docs.openstack.org/api-ref/compute/?expanded=create-server-detail#list-server-groups
https://docs.openstack.org/api-ref/compute/?expanded=create-server-detail#create-server

[2021-11-26 12:26] d-mo commented on #1623
Thank you @Kami for the heads up and for going ahead with this. It will inevitably introduce some merge conflicts but we'll manage. It's also a good opportunity for grooming and contributing back more changes from our fork.

[2021-11-26 12:36] Kami commented on #1623
@d-mo You are welcome and I hope it won't cause too much pain for you.

I tested the workflow above on an out of date fork and it "mostly works" - it looks like there is a bug in black with unstable code formatting (aka if you run black twice) in some edge cases which results in some more work / conflicts, but sadly there isn't much we can do (and black bug fix for that issue is not available yet)

[2021-12-01 07:53] Asiwaju887 commented on #1590
Make sure the AWS_REGION you are using is the default region or you can then specify your won region also

[2021-12-01 07:58] Asiwaju887 commented on #1581
I do not really get what you mean by store data Bucket, but if you want to upload and download an object to a bucket in s3 in your region use can use this code below

`client = get_driver(Provider.S3_AP_NORTHEAST)
    s3 = client(aws_id, aws_secret)

    container = s3.get_container(container_name=container_name)
    # This method blocks until all the parts have been uploaded.
    extra = {'conten

[2021-12-03 07:41] #1629 closed, assigned to micafer

[2021-12-04 23:49] reixd opened #1632 "Add Scaleway Object Storage support"
## Feature Request

Based on the MinIOStorageDriver I have created a ScalewayStorageDriver because the S3 driver needs the URL in order to talk with the Scaleway Object Storage implementation.

See https://github.com/apache/libcloud/pull/1633

[2021-12-05 13:32] Kami commented on #1623
Resolved via #1624.

[2021-12-05 13:32] #1623 closed, assigned to nobody

[2021-12-07 23:03] rohan2962 opened #1634 "Creation of backup driver fails for EBS with region formatting issue"
## Summary

Creating an EBS backup driver fails with region formatting issue

## Detailed Information

apache-libcloud version 3.4.1 python 3.6

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ec2-user/.local/lib/python3.6/site-packages/libcloud/backup/drivers/ebs.py", line 59, in __init__
    self.connection.host = HOST % (region)
TypeError: not all argument

[2021-12-08 12:13] Kami commented on #1634
Thanks for reporting this issue.

I'm looking at the code and I wonder if / how this ever worked since that code seems incorrect and would throw on every instantiation.

[2021-12-08 12:30] Kami commented on #1634
I'm trying to fix the driver since I thought it may be an easy fix, but it looks like the driver was never really fully implemented and working.

I fixed the region issue, but it looks like there are many other issues as well:

<Response><Errors><Error><Code>NoSuchVersion</Code><Message>The requested version (2015-10-01) of service ManagedProxyService does not exist</Message></Error></Errors><Requ

[2021-12-08 12:49] Kami commented on #1634
With #1635, instantiating the driver and authenticating with the API now works, but I haven't tested much else and it's likely that other things are not working as well since we have no unit tests for this driver to verify the correctness.

[2021-12-08 18:43] rohan2962 commented on #1634
Thanks for the quick response and fix. Meanwhile, I see volumes functionality in compute driver itself like list_volumes() etc. Was the development of the specific driver not covered as the functionality was available elsewhere? This is speculative. Can somebody comment on this? Is there other functionality in this driver that is not available under the compute EC2 driver?

[2021-12-10 10:47] micafer opened #1636 "OpenStack: Move floating IP functions to use network service instead of nova"
## OpenStack: Move floating IP functions to use network service instead of nova

All the Network calls are deprecated and will fail in future versions:
[code]
https://docs.openstack.org/api-ref/network/v2/?expanded=list-floating-ips-detail#floating-ips-floatingips

[2021-12-13 08:51] #1595 closed, assigned to micafer

[2021-12-27 16:55] weismannweb opened #1639 "Proxmox as a provider"
## Feature Request

Is there any interest in proxmox as a provider?

I am deciding between ovirt and proxmox and I want to be able to use mist.io with it which is based on libcloud to create a simpler web based multi cloud manager.  Does anyone know the typical time commitment to build a provider supporting most.  Also would I be able to use one of these  libs:

https://github.com/proxmoxer/proxmo

[2022-01-01 11:39] saranyavellai opened #1640 "Add EKS cluster support"
## Feature Request

would like libcloud to support EKS in AWS.

[2022-01-10 17:51] mazerty opened #1641 "[EC2] Add missing "creation_date" NodeImage extra"
The creation date is an information that is available for all AMI, accessible with boto3 but missing in libcloud as an "extra" in NodeImage.

[2022-01-11 10:18] mazerty commented on #1641
workaround until this is fixed:
`libcloud.compute.drivers.ec2.RESOURCE_EXTRA_ATTRIBUTES_MAP["image"].update({"creation_date": {"xpath": "creationDate", "transform_func": libcloud.utils.iso8601.parse_date}})`

[2022-01-14 22:42] rgharris opened #1643 "Create node from Azure Compute Gallery images"
## Feature Request

[Azure Compute Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries) is the recommended way to create custom images for Azure VMs. It would be very helpful if libcloud supported creating nodes from these images.

Supporting these works just like the `AzureImage` in libcloud today except you provide a single `id` under `imageReference` (instead

[2022-01-14 22:42] rgharris opened #1644 "Add Azure create node OS disk delete option"
## Feature Request

Azure VM OS disks can be configured at the time of VM creation to be deleted when the VM is deleted. It would be helpful if libcloud supported this option. There is not an option in libcloud to do this on delete and it is convenient in some use cases to delete the disk regardless of the method (CLI, portal, libcloud, etc.).

Supporting this requires a `deleteOption` of `Delete`

[2022-01-26 15:16] micafer opened #1646 "GCE driver list_images method does not return all the images"
## Summary

GCE driver list_images method does not return all the images.

## Detailed Information

GCE driver list_images method does not return all the images.
Only first 500 images are returned per project, and in some cases (as ubuntu-os-cloud) there are more than 900.

[2022-01-26 15:17] micafer commented on #1646
One easy solution is setting:
[code]
before this line:
https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/gce.py#L2630

[2022-01-27 08:23] micafer opened #1647 "Enable to set microversion in OpenStack driver"
## Feature Request

OpenStack compute API enables to set the microversion to use to interact with API:
https://docs.openstack.org/api-guide/compute/microversions.html

In fact some functionality does not work if it is not set e.g. https://bugs.launchpad.net/nova/+bug/1835042

[2022-01-27 10:20] micafer opened #1649 "Personality field in the server requests of OpenStack must be optional"
## Summary

Personality field in the server requests of OpenStack must be optional
https://github.com/apache/libcloud/blob/v3.4.1/libcloud/compute/drivers/openstack.py#L1550

## Detailed Information
Personality field in the server requests is optional as shown in the OpenStack  documentation and it has been removed for microversion > 2.56.

If the user do not set ex_files it must not be set.

[2022-01-27 10:25] micafer opened #1650 "headers field are overwrited in case of POST of PUT methods in OpenStack connection"
## Summary

headers field are overwrited in case of POST of PUT methods in OpenStack connection:
https://github.com/apache/libcloud/blob/v3.4.1/libcloud/common/openstack.py#L242

[2022-01-28 21:46] #1641 closed, assigned to nobody

[2022-01-31 13:34] jan-mue opened #1654 "Deletion of S3 objects fails for object paths starting with a slash"
## Summary

When trying to delete all objects in an S3 bucket, the deletion fails for objects with a leading slash in their path.
The `delete_object` method returns `True` for these objects, even though they are not deleted.

## Detailed Information

To delete an S3 bucket we use `Container.list_objects()` and `delete_object` to first delete all objects in the bucket. This doesn't work for objects

[2022-02-01 07:06] #1650 closed, assigned to micafer

[2022-02-01 16:26] Kami commented on #1654
Thanks for reporting this bug.

IIRC, we had a similar bug recently, but don't recall anymore if it was S3 or some other driver (need to dig in).

[2022-02-01 16:30] Kami commented on #1654
EDIT: I think I found it - #1529, #1531.

So ``libcloud.common.base.ALLOW_PATH_DOUBLE_SLASHES = True`` workaround should work as well - https://github.com/apache/libcloud/pull/1531/files#diff-9162be95b923e5cb64a41d8eb40fed8319817ac497231758ceab596e548e3ebaR67.

Maybe in a future release we can consider changing the default behavior to allow double slashes, but in the past I was a concerned that co

[2022-02-01 19:32] jan-mue commented on #1654
As I‘ve already written in the original issue details, setting this constant doesn’t work. We would need it as a parameter to the constructor of the S3 driver class.
If you would accept a PR with such a change, I can start working on it tomorrow.

[2022-02-01 19:50] Kami commented on #1654
@jan-mue Sorry, I don't know how I missed that part in the description.

Yes, in the short term I think adding constructor argument ``ex_allow_slashes`` or similar is fine.

As far as that constant not working - perhaps you could clarify what you mean with "doesn't work because we don't import anything from the module libcloud.common.base directly.".

You can't import that module and set the modul

[2022-02-01 20:08] jan-mue commented on #1654
EDIT: We just tested it again and setting the constant actually does work. Sorry for the confusion.

Yes, I tried importing it and setting the constant before anything else, but for some reason this change was not picked up. I assumed that it would only work for imports directly from the module `libcloud.common.base` but I might be wrong about that.

[2022-02-02 08:37] #1649 closed, assigned to micafer

[2022-02-02 08:50] micafer commented on #1646
This problem is not only related with images.
In many API call there is no management of the pagination, so when the number of results is over the default maxResults value (500) the same problem will appear.

[2022-02-03 10:15] Kami commented on #1654
@jan-mue Thanks for confirming.

Is there anything else we could do to make that easier / more obvious to the end user (docs, code or similar)?

I guess one think we could perhaps do is update the S3 driver code to emit a warning on this in case the object name contains a leading slash.

As I said above, long term I do think we should probably change the default behavior, but this may break / chan

[2022-02-05 10:43] jan-mue commented on #1654
I would actually expect libcloud to raise an `ObjectDoesNotExistError` when the double slash is removed from the object path, but this is probably hard to implement since AWS still returns a response with status 204 even if the object isn’t deleted. This would also immediately break any code that expects the `delete_object` function to return True for objects that don’t exist. So maybe a warning w

[2022-02-14 15:34] WBNet-Wout opened #1657 "InvalidCredsError with upload_object_via_stream() on Aurora Objects"
## Summary

When trying to upload a file to Aurora Objects through `upload_object_via_stream()`, I get an `InvalidCredsError`.

## Detailed Information

When I try the following code:

[code]

It results in the following error:

[code]

However `upload_object()` is working fine as follows:

[code]

I am using Python 3.9.8-1 on Debian unstable with Libcloud 3.4.1.

[2022-02-28 16:57] brookewhite9 opened #1658 "Authenticate with Azure Ad for Provider AZURE_BLOBS"
## Feature Request
Add the ability to authenticate Azure Blob Storage Accounts via Azure AD service principal secrets and certificates.
This feature would be following this feature from jclouds (https://issues.apache.org/jira/browse/JCLOUDS-1558)
It would be using the rest api to access azure ad

For more information on contributing, please see https://libcloud.readthedocs.io/en/latest/development

[2022-03-02 21:25] Kami commented on #1647
Resolved via #1647.

[2022-03-02 21:25] #1647 closed, assigned to micafer

[2022-03-02 21:43] #1646 closed, assigned to micafer

[2022-03-03 00:03] c-w commented on #1658
We tend to avoid including vendor SDKs in this project and instead integrate the REST APIs directly. As such this would be a larger effort.

[2022-03-03 14:22] brookewhite9 commented on #1658
Could we not use OAuth to authenticate via REST? This would allow the service principal to be authenticated without the vendor SDK, correct? We could not useDefaultAzureCredential() and just use the REST API instead

[2022-03-03 21:58] #1643 closed, assigned to nobody

[2022-03-03 21:58] #1644 closed, assigned to nobody

[2022-03-05 12:07] LanderOtto opened #1659 "Missing parameter in an OpenStack Connection class"
I am using Openstack with Application Credential.
Running a simple code like this (Ubuntu 20.04, python 3.8.10)

[code]

libcloud (3.4.1) throws this exception
[code]

I fixed it by adding in **common/openstack_identity.py** in the constructor of class _OpenStackIdentity_3_0_Connection_AppCred_  the missing parameter _auth_cache=None_

[2022-03-05 13:26] Kami commented on #1659
Thanks for reporting this issue.

It seems likely that this regression has been introduced as part of https://github.com/apache/libcloud/pull/1557, but it's weird that none of the tests caught it.

I was just preparing v3.5.0 release, but it sounds like I will need to wait until this issue is figured out and fixed (if confirmed).

[2022-03-05 13:28] Kami commented on #1659
@dpeschman Any chance you will be able to look into this in the near future?

[2022-03-05 13:34] Kami commented on #1659
I was able to confirm and reproduce the issue locally (and the proposed fix indeed appears to be working, but I didn't test it end to end).

It looks like the reason why this issue hasn't been caught is because there are no unit tests which directly instantiate the driver with ``3.x_appcred`` auth method.

So we need to make sure we add some tests for that as well.

[2022-03-05 13:47] Kami commented on #1659
I tried to look into a quick fix, but it looks like it may be involved since it appears #1557 introduced another inadvertent regression related to ``tenant_domain_id``:

[code]

Having said that, we should still start with (failing) unit tests - I will try to push those a bit later.

[2022-03-05 15:42] dpeschman commented on #1659
I can look into in on Monday.

[2022-03-05 19:06] Kami commented on #1659
I believe #1660 should fix this issue, @LanderOtto can you please verify?

Sadly OpenStack code is a bit convoluted so it took longer than I would have liked to get everything working (and there was / is some cross test pollution which resulted in some failures which took a while to track down).

[2022-03-07 10:06] LanderOtto commented on #1659
Yes, I confirm that it works. Thank you

[2022-03-10 10:38] dimgal1 opened #1661 "GCENodeDriver zone & region related attributes"
## Feature Request

Currently the GCE driver populates its `zone_list`, `zone_dict`, `region_list`, `region_dict` attributes on driver initialization.

It would be better if these attributes were populated outside of init and only when needed.

[2022-03-13 10:42] #1661 closed, assigned to nobody

[2022-03-21 21:46] #1659 closed, assigned to nobody

[2022-03-22 00:00] ccrvlh opened #1669 "Add `deploy_node` for DigitalOcean"
## Feature Request

Currently DigitalOcean driver has no `deploy_node` method (only `create_node`).
I couldn't find a way to use MultiStep deployment options with `create_node` (install a `salt-minion` right after installation)
From what I could see so far, the only way to use DigitalOcean driver is using `create_node` directly (which works perfectly).

[2022-03-22 08:36] lionel-van-bemten opened #1670 "Error getting node_id in OpenStack_2_FloatingIpAddress"
There seems to be a regression between libcloud 3.4.1 and 3.5.0. Not sure whether related to #1411.

[2022-03-23 09:37] Kami commented on #1670
Thanks for reporting this.

I would imagine that this regression is likely related to #1638. @micafer could you please have a look when you get a chance? Thanks.

[2022-03-23 10:04] micafer commented on #1670
Using new network API the value of `node_id` is not returned in the floating ip list call, so you need to call the `get_node_id()'  method to get it:

https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/openstack.py#L4546

It is commented in the changelog of the issue GITHUB-1638:

[CHANGES.rst](https://github.com/apache/libcloud/blob/trunk/CHANGES.rst)

[2022-03-23 11:03] lionel-van-bemten commented on #1670
Ok thank you, will use the method instead. Didn't check the changelog. I did check the doc, did not find about this method.

[2022-03-23 11:04] #1670 closed, assigned to nobody

[2022-03-24 10:46] Kami commented on #1670
@micafer Thanks for looking into it.

Since the behavior seemed to have changed, it would also be good to explicitly note that in the upgrade notes (``docs/upgrade_notes.rst``) with an example of how to achieve the same behavior in the new version.

[2022-04-04 09:50] micafer opened #1672 "Error creating and getting node in OpenStack when setting ex_force_microversion"
## Summary

An error is reported when creating node in OpenStack:
`KeyError: 'id'`

**When `ex_force_microversion` is set to a version newer than 2.47.**

## Detailed Information

It seems that there is an error with the api_node about `flavor` information.

[code]

There are changes in OpenStack API:

_Before microversion 2.47 this contains the ID and links for the flavor used to boot the server

[2022-04-04 11:46] micafer opened #1674 "Attach/Detach a Floating IP to an OpenStack node does not work with new versions"
## Summary

Attach/Detach a Floating IP to an OpenStack node does not work with new versions

## Detailed Information

POST /servers/{server_id}/action
Add (Associate) Floating Ip (addFloatingIp Action) (DEPRECATED)

**This API is deprecated and will fail with a 404 starting from microversion 2.44. This is replaced with using the Neutron networking service API.**

See details:
https://docs.opensta

[2022-04-04 13:35] micafer commented on #1674
This bug is related with #1648 and it fails only when `ex_force_microversion` is set to a version higher than 2.44.

[2022-04-04 21:18] ccrvlh commented on #1669
Hi @Kami , willing to help on this. Any effort being made? Couldn't find much on the #libcloud channel on liberachat, there were only three members, not sure I was at the right place. Thanks!

[2022-04-06 07:11] micafer opened #1675 "Error in volume api calls if microversion is set in OpenStack"
## Summary

Error in volume api calls if microversion is set.
If `ex_force_microversion` param is set some volume api calls fails with a 400 error.

## Detailed Information

The error is caused by setting the service fixed to compute in this line:

https://github.com/apache/libcloud/blob/trunk/libcloud/common/openstack.py#L347

[2022-04-07 03:10] ccrvlh opened #1678 "[Feature] DigitalOceean Firewall"
I couldn't find DigitalOcean's firewall feature.
I can start working on it right away. Would it make sense for PR?
Thanks!

[2022-04-07 04:09] ccrvlh commented on #1678
I guess this could be implemented with a series of extensions methods, somewhat similar to what already exists for the floating ip resource.

Probably the biggest design decision here is whether to use a similar approach as the one used for EC2 security groups, in which rules and sources are being handled directly on a method, or to go with an object-first approach and make a new object for rules/

[2022-04-09 22:27] ccrvlh opened #1679 "[Proposal] Add `Optional` (default `None`) to Node classes"
## Proposal

Some classes have attributes that are not required for building a Node.
For example, we don't need the  `NodeSize.bandwidth` argument to create a new node. Only the `id` is necessary. But we still have to instanciate the `NodeSize` class with `bandwidth=None` since it's a required argument.
It could be possible to add a default `None` value to each optional argument to make things sim

[2022-04-12 15:22] AAfghahi opened #1680 "Convert utils/encrypt_tests.py to unit test"
See the [github issue](https://github.com/apache/superset/issues/18747) for details, feel free to tag [betodealmeida](https://github.com/betodealmeida) for review.

[2022-04-12 15:23] #1680 closed, assigned to nobody

[2022-04-17 06:54] #1585 closed, assigned to micafer

[2022-04-17 06:55] #1636 closed, assigned to micafer

[2022-05-05 13:06] RunOrVeith opened #1682 "Google storage sometimes does not send etag"
## Summary

When requesting a blob from google storage that is public (it works for private buckets), Google seems to have suddenly stopped sending the `etag` header. Unfortunately, this is required in `_headers_to_object`, which now crashes.
~~This means no files on a public bucket can be accessed any more at the moment.~~
This only affects some files that have been uploaded in a specific way, I

[2022-05-05 13:58] RunOrVeith commented on #1682
This seems to only happen if the files were upload in a specific way, I am still investigating. It is not all files.

[2022-05-06 07:53] RunOrVeith commented on #1682
This affects any images uploaded with gzip encoding.

So to reproduce, upload the file that you check with the code above like this
`gsutil cp -Z ~/Pictures/some-image.png gs://my-bucket/some-image-gzip.png`.

It works if you upload without gzip encoding:
 `gsutil cp ~/Pictures/some-image.png gs://my-bucket/some-image-no-gzip.png`

It works for non-image files regardless of gzip encoding

[2022-05-06 07:54] RunOrVeith commented on #1682
[I created an issue in the google issue tracker for this](https://issuetracker.google.com/issues/231495126)

[2022-05-06 12:53] pgajdos opened #1684 "use unittest.mock instead of mock"
Could you please consider to use unittest.mock, as a fallback at least?

[2022-05-06 21:11] Kami commented on #1682
Thanks for reporting this.

I also did some quick testing myself and I was indeed only able to reproduce it when content encoding is gzip.

[2022-05-06 21:12] #1682 closed, assigned to nobody

[2022-05-06 21:13] Kami commented on #1684
Can you please provide some reasoning on this feature request? ``mock`` is a tests only dependency so it shouldn't be a problem if we depend on it (since we already depend on other libraries for tests as well).

[2022-05-06 21:27] #1672 closed, assigned to micafer

[2022-05-06 21:36] #1675 closed, assigned to micafer

[2022-05-06 21:46] #1674 closed, assigned to micafer

[2022-05-09 06:59] pgajdos commented on #1684
Yes, forgot to add:
https://fedoraproject.org/wiki/Changes/DeprecatePythonMock
https://trello.com/b/WsskhdXA/opensuse-python

You seem to not support Python 2 anymore and as far as I tested:
https://build.opensuse.org/package/show/home:pgajdos:python/python-apache-libcloud
the testsuite run is successful at least with python 3.6 and later (see [python-apache-libcloud-no-mock.patch](https://build.o

[2022-05-09 13:58] ghost opened #1687 "AWS Region af-south-1 is not supported in the EC2 driver"
## Feature Request

In order to make some of our (and probably others') automation to work, libcloud has to support the AWS region we are working in, which is af-south-1. Just like in PR #1656  I am planning to add the region.

For more information on contributing, please see https://libcloud.readthedocs.io/en/latest/development.html

[2022-05-10 15:41] Emilianocm23 opened #1689 "Aliyun ECS create_node fails with code InstanceType.Offline"
Im using your example code for Aliyun ECS create_node and its throwing an error, i wasnt able to find what the error is
Libcloud version: 3.5.1

Code being used
https://github.com/apache/libcloud/blob/trunk/demos/example_aliyun_ecs.py

Output:
[code]

[2022-05-10 21:38] Kami commented on #1684
Thanks for the additional context.

If it simplifies the packaging and we don't loose any functionality, I'm fine with replacing it with stdlib mock module.

Not sure how much it really simplifies the packaging though, since we still have a lot of other test dependencies.

[2022-05-10 21:52] Kami commented on #1684
#1691 should solve this. Thanks for reporting this.

[2022-05-10 21:55] Kami commented on #1684
@pgajdos On a somewhat related note, I see there are some other patches upstream (https://build.opensuse.org/package/view_file/home:pgajdos:python/python-apache-libcloud/ec2_create_node.patch?expand=1, https://build.opensuse.org/package/view_file/home:pgajdos:python/python-apache-libcloud/gce_image_projects.patch?expand=1, https://build.opensuse.org/package/view_file/home:pgajdos:python/python-apa

[2022-05-10 21:59] #1684 closed, assigned to nobody

[2022-05-10 22:01] Kami commented on #1679
Yeah, making some of those arguments optional seems reasonable to me.

Adding ``None`` default value should be fine, we just can't move the method arguments around (change the method signature) since that would be backward incompatible / breaking change.

[2022-05-10 22:02] Kami commented on #1678
@lowercase00 That approach reasonable to me.

It's also worth noting that some APIs (e.g. storage) support both approaches - driver methods call object methods or vice versa.

So the object approach is really just a convenience.

[2022-05-10 22:20] Kami commented on #1687
Resolved via #1688.

[2022-05-10 22:20] #1687 closed, assigned to nobody

[2022-05-11 22:25] ccrvlh commented on #1678
Thanks @Kami, I'll push a few commits to my local fork before a PR and let you know how things evolve

[2022-05-11 22:28] ccrvlh commented on #1679
Makes sense. I haven't use many drivers yet (mostly EC2, DO and GCP), maybe start with those.
Also I noticed the tests (docker) still include Python 3.5, which was deprecated it seems, I imagine it's ok to drop those? Tox complains about the 3.5, cant remember exactly why.

[2022-05-19 21:26] jasonkrasavage opened #1696 "get_object_cdn_url() & get_container_cdn_url() implementation for StorageDrivers"
## Feature Request

Hi all! After beginning to integrate the libcloud library into an application I am writing and attempting to use both the `get_object_cdn_url()` and `get_container_cdn_url()`, I have realized that these methods appear to not be implemented back at the base level (`libcloud/storage/base.py`) in the StorageDriver class, and never implements in any inherited classes. I am attempti

[2022-05-20 16:13] AshleyT3 opened #1698 "download_object_as_stream for Azure (azure_blobs.py) silently ignores caller's chunk_size without raising an exception."
## Summary

The download_object_as_stream for Azure located in azure_blobs.py will silently ignore the caller's specified chunk_size. It should probably raise an exception if the caller's value is not acceptable. Generally, much of chunk-based upload/download seems dependent on knowing all chunks will equal chunk_size until the last chunk. If libcloud silently changes the caller's expectation, it

[2022-05-30 04:53] juanmarcosdev opened #1700 "ValueError: datestring must be valid date string and not None when querying list of images of EC2"
## Summary

It seems to be an error querying a datestring from extra data of the images of EC2

## Detailed Information

I'm newbie at using libcloud, i've already ran a file to list the images of GCP Compute Engine - not problem. Then, i tried to do the same but using AWS EC2, and i'm pretty sure that there are not problems with ACCESS_ID an SECRET_KEY, since i tried to modify these in order to d

[2022-05-30 08:01] Kami commented on #1700
I tried to replicate the issue with EC2 driver, but I couldn't - it works fine for me.

It appears that the issue is related to the response - one of the images returned doesn't seem to contain one of the extra attributes (``creation_date``) or similar.

Are you sure you are using valid key with the correct permissions for EC2? In addition to that, are you behind a proxy?

Please run your script w

[2022-05-30 08:05] Kami commented on #1700
Having said that^, I still think Libcloud should handle this scenario better (image doesn't contain creation date or some other date related attribute) so I will look into making a code change to handle that better.

P.S. By default ``list_images()`` may be very slow since it returns tons of data so you may want to utilize ``ex_filters`` to speed it up.

[2022-05-30 08:14] Kami commented on #1700
I believe this PR should fix this issue for you - https://github.com/apache/libcloud/pull/1701.

[2022-05-30 17:02] #1700 closed, assigned to nobody

[2022-06-03 15:17] KatiRG opened #1703 "scheme is hard-coded as http when converting response in azure_blobs"
## Summary
Functions `_response_to_container()` and `_response_to_object()` in class `AzureBlobsStorageDriver` of [azure_blobs](https://libcloud.readthedocs.io/en/stable/_modules/libcloud/storage/drivers/azure_blobs.html) hard-code the URL scheme to `http` in their `extra` objects, i.e.:
[code]

This will cause a request to download from Azure blob storage to fail if the storage URL is secure (i.e

[2022-06-05 19:51] Kami commented on #1703
Proposed change sounds good - please feel free to open a PR with that change.

[2022-06-07 13:37] #1703 closed, assigned to nobody

[2022-06-23 16:51] dimgal1 opened #1717 "Openstack dev installation error"
## Summary

The libcloud driver does not work with the development installation of Openstack.

Instructions to install the dev installation are found [here](https://docs.openstack.org/devstack/latest/)

## Detailed Information

Initiating the driver with:

[code]

Then running any command produces the following:

[code]

To my understanding the [morph_action_hook](https://github.com/apache/libclou

[2022-06-30 00:06] ZuluPro opened #1719 "Compute driver cleaning"
## Summary

I propose this list of drivers with unavailable services

## Detailed Information

- Bluebox
- bsnlcloud
- Cloudwatt
- enomaly
- elastichosts
- elasticstack
- Kili
- gogrid
- Gridspot
- hostvirtual (now netactuate)
- Joyent
- med-1
- nephoscale
- 1and1 (now IONOS)
- profitbricks (now IONOS)
- ServerLove
- skalicloud
- Softlayer (now IBM)
- Voxel

Of course, I volunteer to participate i

[2022-07-01 16:50] originlake opened #1720 "Create azure arm nodes without providing network interface"
## Feature Request
I'm having difficulty creating nodes with the azure arm driver. As I can understand, it requires providing an existing network interface, and to create a network interface, an existing subnet, IP, and virtual network are needed. I don't find methods to create them. The way to create azure nodes is not intuitive as other providers.

I wonder if it's possible to make the create_no

[2022-07-23 11:58] #1717 closed, assigned to nobody

[2022-08-08 06:12] ccrvlh commented on #1719
One thing that may make sense for the future is to separate "core" and "plugin" drivers. Having just a handful of "core" drivers would make the repo a lot simpler, I would imagine that + 80% of users are concentrated in a handful of drivers (AWS, GCP, Azure, Openstack, etc). Ansible did that in an interesting way with modules.

Also volunteer to participate in this clearning.

[2022-08-08 06:13] ccrvlh commented on #1679
@Kami sorry the delay. I made the changes here: https://github.com/apache/libcloud/compare/trunk...lowercase00:libcloud:optional_args
It seems that 3.5 wasn't working anymore, I removed just to run the tests. Can reverse the changes on the dockerfile and just keep the "optional" arguments.

[2022-08-08 06:27] lowercase00 commented on #1678
WIP Here: https://github.com/apache/libcloud/compare/trunk...lowercase00:libcloud:do_fw

[2022-08-08 06:28] ccrvlh opened #1737 "[Feature] Add filters to DO Image List"
## Feature Request
Suggestion to add `ex_private` and `ex_tags` filters to DigitalOcean driver.
Branch here: https://github.com/apache/libcloud/compare/trunk...lowercase00:do_image_filter

[2022-08-08 16:40] danielshahaf opened #1738 "Digital Ocean compute: public_ips += IPv6 addresses"
## Summary

Digital Ocean compute nodes' `.public_ips` attribute doesn't list IPv6 addresses.  Patch for 3.6 tested against 3.4 included.

## Detailed Information

Create a node with a public IPv6 address:

[code]

([docs for `ex_create_attr`](https://libcloud.readthedocs.io/en/stable/compute/drivers/digital_ocean.html#libcloud.compute.drivers.digitalocean.DigitalOcean_v2_NodeDriver.create_node)).

[2022-08-08 17:28] danielshahaf opened #1739 "Machine-parseable version number"
## Feature Request

Please consider adding a tuple version of `libcloud.__version__`, so library consumers would be able to easily do comparisons and so on.  Compare `sys.version` (string) and `sys.version_info` (named tuple).

[2022-08-21 20:55] leynier opened #1746 "[Feature] Support to Supabase Storage"
## Feature Request

Supabase is an open-source Firebase alternative. That allows us to start a project with a Postgres Database, Authentication, instant APIs, Realtime subscriptions, and Storage.

My feature request is to support Supabase Storage as one of the storage providers of `libcloud`.

Many solutions use `libcloud` internally, so adding Supabase will allow many developers to integrate thei

[2022-09-07 13:46] ravitejasssihl commented on #1737
Hello, Am Ravi,as part of a collage assignment am interested in solving this issue.For which I need your approval and guidance.Can you accept me as a contributer?I have gone through your guide lines

[2022-09-08 08:30] aarushisoni commented on #1739
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-08 10:26] Kami commented on #1739
@danielshahaf Thanks for submitting this feature request.

This request seems reasonable to me.

Do you happen to know how other libraries handle that? Most of the libraries I'm aware of just set ``<package>.__version__`` to the version string in the same way Libcloud does it.

Is there some common / preferred way of setting a version tuple, e.g. ``<package>.__version__tuple__`` or similar?

[2022-09-08 10:27] Kami commented on #1746
Do you happen to know if they expose S3 / OpenStack Swift sompatible or similar API so we could re-use existing primitives in the Libcloud?

Or they have a custom / home grown REST API?

[2022-09-08 10:32] Kami commented on #1746
EDIT: It appears they expose custom / home grown swagger based REST API - https://supabase.github.io/storage-api/

[2022-10-14 07:13] rsnk96 opened #1786 "[RFC] Supporting Queues / Messaging Pipelines across Cloud Providers (Ex: AWS SQS)"
## Feature Request

A commonly used feature in Cloud Platforms is their message-passing/queueing services, such as
* [AWS](https://aws.amazon.com/sqs/): SQS
* [Azure](https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted): [Service-Bus, Storage Queues]
* [GCP](https://cloud.google.com/pubsub/docs/choosing-pubsub-or-cloud-tasks):

[2022-11-03 07:31] rsnk96 commented on #1786
Hi @Kami
Can you help me with how to get this feature request reviewed?
(I saw your activity being the most recent, sorry if someone else is better equipped to review this request 😅 )

[2022-11-11 21:12] ghost opened #1798 "chunk_size is ignored for download_object_as_stream with s3 provider"
## Summary

When downloading an object from S3 using download_object_as_stream or as_stream, the chunk_size argument is ignored.  Instead the hardcoded CHUNK_SIZE in libcloud.storage.drivers.s3 dictates the number of bytes returned from the iterator with each next call.

## Detailed Information

This is using libcloud 3.6.1 with Python 3.10.8 on an M1 MacBook Pro running Montery 12.6.1

Here's an

[2022-11-21 09:34] ghowett opened #1799 "AWS requires Interface to be specified when using elasticIP"
## Feature Request

When setting an elastic IP for an AWS instance that is using multiple interfaces you must specify the interface you wish to use with the elasticIP.

Currently the method does not allow you to specify the interface: ex_associate_address_with_node(node, elastic_ip).

I propose adding an optional parameter to this function that would allow you to define the interface.

Such as: ex

[2022-11-23 05:45] yagodorea opened #1802 ""UnicodeEncodeError: 'latin-1' codec can't encode character, ordinal not in range" on GCS upload_object_via_stream"
## Summary

I'm trying to upload some CSV files to GCS using libcloud, today I this error:

[code]

## Detailed Information

The encode character and position change with each run, even though the files don't change. I'm not sure what's causing that, CSV files are basically plaintext.

Here's the full stack (some internal code ommitted):

[code]

I'm running this from inside a k8s pod in a GKE clu

[2022-11-27 21:06] denyszhak opened #1803 "Role based EC2 access to S3"
## Feature Request

The key parameter is required to access S3 using S3StorageDriver https://github.com/apache/libcloud/blob/7b3f55a3ac2ec8423555cd9bac3a42697ffc502c/libcloud/storage/drivers/s3.py#L1224, even if provided it fails down in the code in the absence of secret here https://github.com/apache/libcloud/blob/trunk/libcloud/common/aws.py#L313

Can you suggest the usage of your client for rol

[2022-11-30 09:01] Cediddi opened #1805 "Azure Blob Storage get_object_cdn_url can't handle files with spaces."
## Summary

I've been trying to generate a signed download link to a file with spaces in its name, let's call it `file name.txt`, and it has been failing to generate a token. While, If I use Azure's frontend, I can generate a token that works. I suspect the signature is calculated incorrectly.

## Detailed Information

I had theorized that, azure don't `urlencode` the resource because it would be

[2022-11-30 14:21] denyszhak commented on #1803
@Kami Does it make sense to add support for retrieving keys from instance metadata as a part of the library for every provider where it makes sense? I could review and propose an MR. If you don't want to have it in the library then let me know

Thanks!